In [47]:
import requests, bs4, nltk.corpus
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime
from time import sleep
# nltk.download('stopwords')
from nltk.corpus import stopwords

In [48]:
# Misc func.

def print_df(df):
    for i in df:
        print(i)

In [49]:
def get_loc(result):
    try:
        return entry.find('div', {'class': 'companyLocation'}).text
    except Exception as e:
        return 'NA'


def get_comp(result):
    try:
        return result.find('span', {'class': 'companyName'}).text
    except:
        return 'NA'


def get_job(result):
    try:
        return result.find('h2', {'class': 'jobTitle'}).text
    except:
        return 'NA'


def get_sal(result):
    try:
        return result.find('div', {'class': 'salaryOnly'}).text
    except:
        return 'NA'


def get_desc(result):
    try:
        return result.find('div', {'class': 'job-snippet'}).text
    except:
        return 'NA'
def get_rating(result):
    try:
        return result.find('span', {'class': 'ratingNumber'}).text
    except:
        return 'NA'

In [50]:
job_titles = [
    'Data+Scientist', 'full+stack+developer', 'big+data+engineer',
    'software+architect', 'blockchain', 'devops+engineer', 'cloud+architect',
    'artificial+intelligence', 'product+manager'
]

len(job_titles)

9

In [51]:
results = []

In [59]:
max_results_per_job = 10000
start_time = datetime.now()
print(start_time)

try:
    for job in job_titles:
        print("---------- Started for " + job)
        for start in range(0, max_results_per_job, 15):
            url = "https://in.indeed.com/jobs?q=" + job + "&start=" + str(
                start)
            html = requests.get(url)
            soup = BeautifulSoup(html.text, 'html.parser')
            for result in soup.find_all('div', {'class': 'job_seen_beacon'}):
                results.append(result)
            sleep(3)
        print("Gathered " + str(len(results)) + " jobs so far")
        print("---------- Completed for " + job)
        print("-------------------------------")
    print("Scraping done !!! Check logs for more info")
except Exception as e:
    print("ERROR: Something went wrong ", e)

end_time = datetime.now()
print(end_time)
print(end_time - start_time)

2022-05-17 03:56:36.742716
---------- Started for Data+Scientist
Gathered 10100 jobs so far
---------- Completed for Data+Scientist
-------------------------------
---------- Started for full+stack+developer
Gathered 20105 jobs so far
---------- Completed for full+stack+developer
-------------------------------
---------- Started for big+data+engineer
Gathered 25880 jobs so far
---------- Completed for big+data+engineer
-------------------------------
---------- Started for software+architect
Gathered 25880 jobs so far
---------- Completed for software+architect
-------------------------------
---------- Started for blockchain

KeyboardInterrupt:

In [60]:
df_jobs = pd.DataFrame(
    columns=['location', 'title', 'company', 'salary', 'summary', 'rating'])

In [61]:
for entry in results:
    location = get_loc(entry)
    title = get_job(entry)
    company = get_comp(entry)
    salary = get_sal(entry)
    desc = get_desc(entry)
    rating = get_rating(entry)
    df_jobs.loc[len(df_jobs)] = [
        location, title, company, salary, desc, rating
    ]

In [65]:
df_jobs[df_jobs.duplicated()]

,location,title,company,salary,summary,rating
60,"New Delhi, Delhi",Data Scientist,Eoraa & Co.,NA,\nProficient with Python/R.\nStrong communicat...,NA
105,"Chennai, Tamil Nadu",newClinical Data Scientist,Pfizer,NA,\nEnsure operational excellence in collaborati...,4.2
106,"Bengaluru, Karnataka",newData Scientist,Happay,"₹8,00,000 - ₹12,00,000 a year","\n1-2 Years as a data scientist, machine learn...",NA
107,"Bengaluru, Karnataka",Data Scientist,Applied Materials Inc.,"₹5,26,846 - ₹17,85,107 a year","\nAcquire, cleanse, organize and mine massive ...",3.9
108,"Noida, Uttar Pradesh",newSenior Data Scientist,Jorie Healthcare Partners,"₹7,00,000 - ₹15,00,000 a year",\nHas *expertise in implementing complex stati...,NA
...,...,...,...,...,...,...
25875,"Bengaluru, Karnataka",Principal Software Engineer,Intuit,NA,\nCoach and mentor other engineers on methods ...,4.2
25876,"Bengaluru, Karnataka","Software Engineer II, Backend - Technical Privacy",Uber,NA,"\nProcess massive amount of data, build softwa...",3.7
25877,"Pune, Maharashtra",Advisory Quality Assurance Software Engineer,Pitney Bowes,NA,\nAWS Services experience preferably in big da...,3.6
25878,"Hyderabad, Telangana",Systems Engineer- WIT ITSM Tools,Micron,NA,\nExperience with Performance Analytics and ot...,3.7
25879,"Bengaluru, Karnataka",Staff Software Engineer - SEO Intelligence - G...,Uber,NA,\nExperience in building data pipeline is nice...,3.7

In [66]:
df_jobs.drop_duplicates(inplace = True, keep='first')
df_jobs
df_jobs.to_csv(r'./Dataset/job_scrap.csv')
# df_job_scrap.describe()

In [43]:
df_jobs = pd.read_csv(r'./Dataset/job_raw.csv')
df_jobs.head()
df_jobs.isna().sum()

Unnamed: 0       0
location         0
title            0
company          0
salary        4102
summary          0
rating        2392
dtype: int64

In [67]:
df_jobs[df_jobs.duplicated()]
df_jobs.drop(columns=['Unnamed: 0'], inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [70]:
display(df_jobs.describe())
print(df_jobs.isna().sum())

,location,title,company,salary,summary,rating
count,2709,2709,2709,960,2709,1355
unique,236,1403,1380,430,2302,29
top,"Bengaluru, Karnataka",Data Scientist,Uber,Full-time,Our vision is to transform how the world uses ...,3.7
freq,733,168,94,282,8,269

location       0
title          0
company        0
salary      1749
summary        0
rating      1354
dtype: int64

In [69]:
df_jobs.replace(to_replace='NA', value=np.nan, inplace=True)

In [72]:
df = df_jobs

In [73]:
print('Unique Locations  \t:', len(df.location.unique()))
print('Unique Title  \t\t:', len(df.title.unique()))
print('Unique Company  \t:', len(df.company.unique()))
print('Unique Salary \t\t:', len(df.salary.unique()))
print('Unique Rating \t\t:', len(df.rating.unique()))
# Unique Locations  	: 385
# Unique Title  		: 3409
# Unique Company  	: 2426
# Unique Salary 		: 605
# Unique Rating 		: 31

Unique Locations  	: 236
Unique Title  		: 1403
Unique Company  	: 1380
Unique Salary 		: 431
Unique Rating 		: 30

In [13]:
# """
# * Noise found
#      1. 'Remote in '
#      2. '+1 location'
#      3. 'Hybrid remote in '
#      4. '+7 location'
#      5. '+2 location'
#      6. 'Temporarily Remote in '
# """

In [74]:
stop_words = stopwords.words('english') + [
    'in', 'remote', 'Remote', 'location', 'locations', 'Temporarily', 'Hybrid',
    'India'
]
df['clean_location'] = df['location'].apply(lambda x: ' '.join(
    [word for word in x.split() if word not in (stop_words)]))

remove_list = ['+1', '+2', '+3', '+4', '+5', '+6', '+7', '+8', '+9', '9']
for i in remove_list:
    df.clean_location = df.clean_location.str.replace(i, '', regex=False)

df.clean_location = df.clean_location.str.strip()

In [75]:
df.head()

,location,title,company,salary,summary,rating,clean_location
0,"Chennai, Tamil Nadu",newClinical Data Scientist,Pfizer,NaN,\nEnsure operational excellence in collaborati...,4.2,"Chennai, Tamil Nadu"
1,"Bengaluru, Karnataka",newData Scientist,Happay,"₹8,00,000 - ₹12,00,000 a year","\n1-2 Years as a data scientist, machine learn...",NaN,"Bengaluru, Karnataka"
2,"Noida, Uttar Pradesh",newSenior Data Scientist,Jorie Healthcare Partners,"₹7,00,000 - ₹15,00,000 a year",\nHas *expertise in implementing complex stati...,NaN,"Noida, Uttar Pradesh"
3,"Bengaluru, Karnataka",Data Scientist,Applied Materials Inc.,"₹5,26,846 - ₹17,85,107 a year","\nAcquire, cleanse, organize and mine massive ...",3.9,"Bengaluru, Karnataka"
4,"Hyderabad, Telangana+1 location",newData & Applied Scientist,Microsoft,NaN,"\nWe are looking for a strong IC, who can lead...",4.2,"Hyderabad, Telangana"

In [76]:
print('Uncleaned Locations  \t:', len(df.location.unique()))
print('Cleaned Locations  \t:', len(df.clean_location.unique()))

Uncleaned Locations  	: 236
Cleaned Locations  	: 126

In [77]:
# print_df(df.title.unique())

In [78]:
stop_words = stopwords.words('english') +  ['Scien...', 'Forecastin...', '-', 'location', 'locations','Temporarily', 'Hybrid', 'India']
df['clean_title'] = df['title'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [79]:
noise_char_title = ['new', '...', '-', '/', '(', ')', ':', '|', ',']
for i in noise_char_title:
    df.clean_title = df.clean_title.str.replace(i, '', regex=False)

In [80]:
print_df(df.clean_title)

Clinical Data Scientist
Data Scientist
Senior Data Scientist
Data Scientist
Data & Applied Scientist
Senior Data Scientist
Data Scientist
Data Scientist AIML Phython
Data Scientist
Data Scientist
Senior Data scientist
Data Scientist OrgSolutions
Data Scientist
Data ScientistGoFood
Data Scientist
Data Scientist
Data Scientist Analyst
Data Scientist
Data Scientist
Deep Learning Specialist Data Scientist
Data Scientist
Data Scientist  Analyst
Associate Data Scientist Analytical
Sr. Data Scientist Deep Learning
Data Scientist Operation Research
Head Data Risk
Data Scientist
Data Scientist
Data Scientist
Data Scientist V
Data ScientistGeospatial Analytics
Data Scientist
Data Scientist
Data Scientist
Data Scientist Pricing Analytics
Data Scientist
Data Scientist Enablement
Data Scientist
Data Scientist
Data Scientist Advanced Analytics
Data Scientist
Data Scientist Clinical Trial
Data Scientist
Applied Scientist
Data Scientist
Data Scientist
Data Scientist
Data Scientist Noida
Analyst Data Science
Data Scientist
Data Scientist
Data Scientist
Risk Analyst 2
Data Scientist
Junior Data Scientist Breast Cancer Clinical Data
ManagerData Science
3B_Senior Data Scientist
Data Scientist Lead
Data Analyst Risk Research Risk Analytics
Data Scientist
Benelux Data Scientist Associate Manager L06
Data Scientist All Levels
Data Scientist
Data Scientist
Machine Learning Data Engineer
Data Scientist
Data Scientist 3
Data Scientist Verna Goa
Decision Scientist
Data Scientist
Data Scientist Algo Leap Technologies
Data Scientist
Data Scientist
Machine Learning Engineer
Data Scientist
Associate Data Scientist
Data Scientist
EY Data & Analytics
Lead Data Scientist
Associate Professional Data Scientist  Analytics
Data Scientist
Data Scientist
Data Scientist
Data EngineerData Science Python
Deep Learning Engineers
Data ScientistAIML
Data Scientist
Data Science Analyst
Junior Data Scientist
NLP Engineer Data Mining Engineer
Data Scientist
Data Science Faculty Freelance Remote
Supply Chain Solution Data Scientist
Machine Learning Scientist
Data Scientist
Data Scientist
Data Scientist
Senior Data Scientist
Associate Data Scientist
Data Scientist Signal Processing
Data Scientist
Head Data Analytics
Data Scientist
Lead Data Scientist
Data Scientist
Data & Analytics Analyst
Data Science Intern
Senior Data Analyst Product Analytics
AI Engineer
Data Scientist
Data Scientist Cartography
Data Scientist
Data Scientist
Data Scientist Driver Platform
Data Science Internship Remote
Data Science People Analytics
Data Scientist – AIML
Data Analytics Lead
Data Scientist
Data Scientist
Data Science Trainer
Data Scientist
DATA SCIENTIST
Remote Data Scientist Python
Senior Scientist "Data Management Analytical Support"
AVP Data Scientist
Data Scientist
GIS Data Analyst
Data Scientist
Advanced Data Scientist
Jr Data Analyst  Jr Data Scientist
ML Engineer
LeadApplied Data Scientist
Data Scientist Logistics
Data Scientist
Data Scientist
Data Scientist
Senior AnalystData Science
Data Scientist
Machine Learning Engineer
Data Scientist Engineer
Data Scientist III
Data Analytics Internship
Data Scientist
Data Scientist
Data Scientist
Senior Data Scientist Logistics
Applied Data Scientist
Data Scientist
Python Machine Learning Intern
IN4  Senior Data Scientist  FY23  SPOT 1
Data Scientist
Specialist Data Scientist
Data Scientist
Data Scientist
Data Science Internship
Data Scientist
Data Scientist
Data Scientist Artificial Intelligence
Data Scientist – AIML Product
Lead Data Scientist
Freelance Data Analytics
Data Scientist
Data Scientist  Decision Scientist
Data Scientist Assistant Manager
Data Scientist NLP NLP Developer
Data Scientist
Data Science Manager
Data Scientist
Data AnalystScientist
DATA SCIENTIST
Data Scientist Machine Learning Deep Learning NLP
Research Scientist Machine Learning  Research Scientist
SR Data Scientist
Data ScientistData StoryTeller HR Analytics
Machine LearningConsultant
Hiring Data Scientist Develope  IDS Infotech LTD  Perma
Sr Advanced Data Scientist
Data ScientistCAI
Data Scientist
Machine Learning EngineerData Science
Data Scientist
Data Scientist Drug Product Process Development
ML Engineer
Senior Data Scientist Marketplace
Data Scientist 2
Data Scientist Analyst
Data Scientist
Executive Data Scientist Commodity market
MBOS_Data Science Engineer Image Database
Asst Manager Data Science
Manager Data Analytics  Data Scientist
Data Scientist
Data Scientist
Data Scientist Operations Research
Data Scientist
Data Scientist
Data Science Trainer
Data Scientist  6 9 years  Mumbai & Bengaluru
Data Scientist
Data Scientist
Data Scientist
Data Scientist Remote
Data Scientist
Data Scientist
Part Time Data Science Trainer
Senior Data Scientist
Data Scientist – Data Products
Academic Counsellor Data Scientist
Data Scientist NLP NLP Developer
DATA SCIENTIST
Data Scientist
Machine Learning Engineer
Data Scientist
Data Analyst  Scientist
Data Scientist
Machine learning Software Engineering Developer
Data Scientist Associate
Data Scientist
Data Analytics Internship
Data Scientist
Lead Data Scientist
Data Scientist
Senior Data Scientist
USIEH22EACMGTech CoE Data ScientistA
Data Scientist
Applied ML engineer
DATA SCIENTIST
Data Scientist Digital Enterprise
Lead Data Scientist
Hiring Data Scientist
Master Data Scientist
Data Scientist
DATA SCIENTIST
Data scientist & Data Engineer Manager
Data Scientist AIML Model Validation
Data Scientist
Associate Data Scientist
Data Scientist Supply Chain Analytics
Data Science EngineerAnalyst
Senior Data Scientist Asset & Wealth Mgmt
Data scientist
Senior Data Scientist I
Data Scientist  Machine Learning Engineer
Urgent Opening For Data Scientist For Big4 Company
Data Scientist
Data Scientist
Data Science Engineer
Data Scientist Machine LearningDeep Learning
Senior Data Analytics Consultant
Data SciencePython
AVP Data Science
Applied Scientist I
Data Scientist
Trainee Business Intelligence Data Science
Data Science Trainer
Data Science Analytics
Python AI ML Data Scientist Developer
Data Scientist
Associate Machine Learning
Senior Data Scientist
Assistant Professor Data Science
Senior Data Scientist Computer Vision
Data Scientist
Experienced Data Scientist
Chief Data Scientist
Machine Learning Intern
Data Scientist
Data Scientist
Analyst Analytics & Metric
Natural Language Processing NLP Data Science Practitioner
Data Scientist
Data Scientist
Data scientist
Lead Data Scientist
Senior Data Scientist
Data Science Internship Remote
Deep Learning Engineer
Data Scientist
Data Scientists
Data Scientist
Data Scientist G&M India
Data Science Associate
Customer Experience Strategy Data Scientist
Data Scientist
Data Science Faculty Freelance Remote
Decision Scientist
5A_Consultant_Lead Data Scientist
Principal Data Scientist
Machine Learning Interns
Data Scientist Sr. Data Scientist Data Science Practice
urgent requirement For data scientist
Data Scientist
Data Science Manager
Data Science Intern
Business Analytics Internship
Jr ML Engineer
Data Scientists
Associate Data Scientist
Lead Data Scientist
Data Scientist
Data ScienceData Engineer
Data Scientist
Data Scientist
Data Scientist
Associate Data Scientist
Data Scientists Advanced process control Manufacturing Inte
Data Scientist
Data Scientist
Analytics Data Scientist
Data Scientist
Applied Scientist OffersX Offers Experience
Senior Data Scientist
Data Mining & Analytics Intern
Data Scientist T8
Senior Manager Data Analytics
Data Science Interns Python
Data Scientist
Senior Data & Applied Scientist
Data Scientist
Data Scientist
KGS Data Scientist Assistant Manager Bangalore
AI Engineer
Senior Data Scientist Supply Chain Analytics
Lead Data Scientist
Data Scientist
Data Scientist
Data science Trainer
Data Scientist
Data Scientist Intern
VPData Science
Data Scientist_CPLE DTOCHN HF
Senior Data Scientist Machine Learning
JDU_AS_Pune_FY22Apr_DataScientist
Data Scientist
Data Science Manager
Senior Specialist Data Science
Data Scientist Innovations
Machine Learning Engineer
Internship Programme Data Science Machine Learning
Data Scientist Intern
Senior Data Scientist Product Analytics
Applied Scientist Taskless
Lead Data Scientist Machine Learning
Data scientist
Decision Scientist
Data Scientist
Data Scientist
Data Scientist Product analytics III
Machine Learning Engineers
Senior Data Scientist
Data Scientist
Sr. Associate Consultant–Data Scientist
Sr Data Scientist
Senior Data Scientist Trust
Machine Learning Engineer
Senior Manager Data ScientistRisk
Data Scientist
Python Coding Microservices Data Scientist
Data Scientist
Applied Scientist
Director Data Science
Data Scientist Mumbai
Data science
Data Scientist Lead
Service Delivery_OSS_Data Scientist
Data Scientist
Data Scientist 13779279
Data Scientist
Machine Learning Engineer
Data Scientist
NLP Data Scientist
Senior Data Scientist
Data Scientist
Specialist Analytics
DBCG  GAMMA Associate Director Data Science
Data Science Research Intern
Machine Learning
Data Scientist
Data Scientist Internship
Data Scientist
Business Analytics Internship
Sr Analyst Business Intelligence Analytics
Technical ArchitectMLNLP
DATA SCIENTIST
AIML Specialist
Data ScientistRisk Mining
Data Scientist 12 Month Fixed Term
Manager  Senior Manager Data Science
Associate MLOps Developer
Data Scientist & Business Development
Associate Statistician
AI Deep LearningComputer Vision
Data Scientist
Data Analytics_Analyst
Data Scientist
Data Science BDA
Lead data scientist 2
Assistant Director – Senior Data Scientist
Data Scientist
Data Scientist
Data Scientist
Senior Data Scientist
Data Science Manager
Machine Learning Intern
Data Scientist
Data Scientist
Machine Learning Data Scientist
Applied Data Scientist
Data Scientist
Jr. Data Scientist
Data Scientist
Data Scientist
Director Controls Data Analytics Automation
MACHINE LEARNING SCIENTIST HEALTHCARE
Senior Data Scientist
Data Scientist
Data Scientist
Data Scientist
JPC 759 Associate Director Analytics Consulting
Lead Engineer Python Data EngineerScientist _III
Data Scientist
Data Scientist
Data Scientist Sr. Associate 4 7 yrs
Senior Data Scientist
Machine Learning Scientist
Senior Data Scientist
BI Data Scientist
Director Data Scientist
PythonDjango DeveloperData Science Django
Principal Data Scientist Bengaluru
Director Financial Services Management Consulting Analyti
Data Scientist I Price Error Detection
Engineer II Data Scientist
Sr. Data Scientist
Data Science
Data Scientist II
Associate Data Scientist
Associate Data Scientist
DATA ANALYTICS HEAD
Specialist Data Scientist
Sr Data Scientist
Lead Data Scientist
Financial Data Analytics Internship
V123 Data Scientist
Senior Data Scientist
Role Data Scientist Fraud Analytics
Data Scientist
Data Scientist
Data Scientist
Data Scientist
Sr. Data Scientist Engineer
Data Scientist
Associate Scientist Data Science
Senior Analyst BI Data Analytics
Analyst Data Science
Senior Data Scientist Cartography
Data Scientist Experienced
Data Scientist
Associate Data Scientist
Machine Learning Engineer
Modeler
Data Scientist
Data Science Engineer
Principal Data Scientist – AI Labs India
Data Scientist
Staff Engineer Data Scientist
Web Analytics
AI EngineerSpecialist
Computer Vision Research Engineer Machine Learning
Data Scientist
Data Scientist – Modeling & Process control
Data Science & ML Engineer
Data Scientist
Modeler
Software Developer Data Scientist
Business Analytics Associate
Sr. Principal Data Scientist
Data scientist
Senior Analyst  Analyst Data Scientist Bengaluru
Designation –Data Scientist
Freelancing Data Scientist Trainer
Director Data Science
Data Scientist
Sr ML Engineer
Applied Scientist II Machine Learning
Head Analytics
Data Scientist Technical Lead
Data Science Online Trainer
Data Scientist
AIML Engineer
Mgr Data Analytics
CitiKYC Data Science App Dev ManagerChennaiVP CTS0128202
USI R&FA Data Cloud & Analytics Consultant Senior Co
Sr. Data Scientist
Machine Learning Engineer
NLP Natural Language Processing Engineer
Data Scientist Search Science AI
Principal Data Scientist
Sr. Associate Specialist Data Scientist Consumer Banking
Lead Data Scientist  Analytics
Data Scientist
Specialized Analytics Analyst
Data Scientist
MACHINE LEARNING DATA SCIENTIST
Data Scientist
Data Scientist
Lead Data Scientist
Applied Scientist Alexa Speech Alexa Speech Science
Data Scientist
Data Scientist
Data Scientist
ModelOps ML Engineer
Senior Data Scientist
Machine Learning Data Science Specialist
Decision Scientist Senior
Senior Applied Scientist Alexa Discovery
Applied Scientist I Taskless
NLP Scientist
Insights Analytics Lead gCare
Business Analytics Leader
Data Scientist Chat BOT specialist
Data Scientist
Senior Associate Data Science
Senior Data Scientist
Motivator l Client Leader Data Science
Machine Learning Engineer Manufacturing
Business Analyst Data Science
Analyst
AIML Architect
Data Scientist
Data analytics_SR Analyst
Director Deals Management Consulting Analytics
Data Science Intern
Decision Scientist II
Data Scientist II Time Prediction View Jobs
Senior Data Scientist 0322CH61
Intern Data Science Autodesk Construction Cloud
Data Scientists
DG Assistant Manager Data Scientist
Executive WW Supply Chain Operations Analytics
Senior Data Scientist
Lead Data Scientist
Data Scientist
Data Scientist
AI Resident – Deep Learning
Manager Data Standardization Product & Analytics
Data Engineer ETL
Senior Data Scientist Computer Vision
Credit Risk Data Scientist Global Financial Services MNC
Analyst Geo Analytics
Data Scientist
Intern AI Cybersecurity
AI Machine Learning
Data Scientist
R&D Manager
Senior Research Scientist Alexa Data Services
Lead Data Scientist
Data Scientist II Core Analytics Science
Machine Learning Engineer
Machine Learning Engineer
Big Data Architect
AIML Technical Specialist
Spec Analytics Analyst 2
Chief Data Science officer
Data scientist
Director Risk Data Science
Head Data Science
Data Science Lead
Principal Data Scientist
Software Engineer Data Science
Senior Data Scientist
Data Scientist
Data Scientist Senior Analyst
SIOP & Inventory Business Analytics Data Scientist
Data Science Manager
Senior Data Scientist Data & Analytics
Data Science Manager
Deep Learning Engineer
Data Scientist
Data Science Intern
Deep Learning Engineer
Data Scientist
Data Scientist
Quality Analytics & Data Specialist
Data Scientist Statistics Specialization
Sr. Data ScientistData Scientist
Data Scientist
Assistant Director – Senior Data Scientist
ML Engineer
Lead Data Scientist
Data Science Machine Learning Part Time Trainer
Data Scientist Credit Risk
Data Scientist
Data Scientist
Data Scientist
Senior Data Scientist
Senior Specialist Data Scientist
Mid Level Data Scientist
Data Scientist
Data Scientist
PhD AI Healthcare Data Analytics
Data Scientist Data & Analytics
Data Scientist NonPrice Predictive Modeling
ML Engineer
Data Scientist
Manager
DigitalProcess ManagerData Scientist PM
Experienced HireConsultingA&CManagerData Science
Sr. Data Scientist
Principal Data Scientist
Data ScientistSenior Data Scientist
Data Scientist
InternData Analytics
Data Scientist – Machine learning
Senior Data Scientist  Bengaluru Mumbai Chennai  5+ Ye
Data Scientist Machine LearningPredictive Modeling
Statistician
Data Scientist
NLP Expert
Senior Data Scientist
Senior Manager Data Analytics
AI  ML Engineer  Google Cloud
AIMLDL Computer vision Developer  Engineer
Senior Business Analyst Data Sciences Advanced Analyti
Machine Learning Engineer Data Science
Data Scientist
Machine Learning DevOps Engineer
Data Scientist Marketplace
Applied Scientist II Amazon Business
Senior data scientist
Data Scientist & Business Development
Manager Data Scientist
Senior Machine Learning Scientist
Machine Learning Expert
Machine Learning Engineer
Data Scientist Data Analytics Web Analytics
AIML Engineer
Data ScientistAssociate Data ScientistAssistant Data
Data Scientist WFM
Data Scientist & ML Engineer Lead
Program Manager Data Science & Analytics
AIML Engineer
Data Scientist
Data Scientist Python & Data Analytics
Analyst Data Science
Data Analytics Insights Senior Consultant
Data Scientist
DATA SCIENCE
Principle EngineerData Scientist
Data Scientist Amazon ML Solutions Lab
AI Data Scientist
Senior Data Scientist
Data Scientist
Data Science Intern
Data Science R&D
AI Data Engineer Scala
Principal Data Scientist CTO Office Remote
Data Scientist
Senior Software Engineer Deep Learning
Audit Data Scientist
Data Scientist mfd
Specialist Data Science
Lead Analytics Consultant
Senior Lead Analytics Consultant
Senior AIML Data Management Specialist
Principle EngineerData Scientist
Data Scientist Amazon ML Solutions Lab
AI Data Scientist
Data Scientist
Data Science Intern
Specialist Data Science
Data Science R&D
Principal Data Scientist CTO Office Remote
Data Scientist
Big Data Hadoop Spark EngineerSr Engineer SMAI
Quantitative Analytics Senior Manager
Data Engineer
Sr. Manager Data Science & ML Platform
Analytics Associate Manager
Software Engineer II Backend Machine Learning Cognitive P
Lead Quantitative Analytics Specialist
Analytics Consultant
Data science engineer
Innovation Engineer People Analytics
Senior Machine Learning Engineer
STAFF DATA SCIENCE ENGINEER SMAI
Sr.Engineer PDEDeep learningData ScienceIIOT
AIML Lead Product manager
Associate Data Science Engineer SMART MFG & AI
AIML engineering architect
Sr. Data Scientist
Senior Quantitative Analytics Specialist
Big Data Engineer Sr.Lead Hadoop Spark
Manager Data Science
StaffSr Software Engineer Machine Learning
Manager Data Science
PDE Process Control System EngineerDeep Learning Data Scie
Associate Engineer Data Scientist
Manager Data Science
DATA SCIENCE
Manager GP COE Data Science Engineering
Analytics Domain Consultant
Data Scientist Amazon ML Solutions Lab
Senior Data Scientist
Senior Data Science Engineer SMAI
Data Science Intern
Data Scientist mfd
Data Science R&D
Data Engineer
Machine Learning Engineer
Manager Data Science
DATA SCIENCE MANAGER SMART MFG & AI
Sr.Engineer PDEDeep learningData ScienceIIOT
Big Data Architect
Senior Machine Learning Engineer
Data Scientist Python
Senior Software Engineer Deep Learning
Data Scientist Recommender Systems
Data ScientistClient Engineering
Data Science Manager
Principal Data Scientist
Data Science Intern
Senior Manager Analytics & Visualization
Lead Data Science
TSP Technical CoE AIML Data Scientist
Machine Learning Engineer
Data Scientist Recommender Systems
Senior Machine Learning Scientist
Data Scientist – Machine learning
Lead Data Scientist
Data ScientistClient Engineering
Data Science Manager
Manager Data Scientist
Principal Data Scientist
Data Science Intern
Machine Learning Expert
Senior Manager Analytics & Visualization
Lead Data Science
Big Data Engineer Sr.Lead Hadoop Spark
TSP Technical CoE AIML Data Scientist
TSP Technical CoE AIML Data Scientist
Data Scientist Recommender Systems
Data ScientistClient Engineering
Principal Data Scientist
Data Science Intern
Senior Manager Analytics & Visualization
Lead Data Science
Software Engineer II Backend Machine Learning Cognitive P
Data Science AnalystLead Analyst
CIELSEL23614 Data Scientist
Senior Software Engineer Deep Learning
Senior Data Science Engineer SMAI
PDE Process Control System EngineerDeep Learning Data Scie
Data Engineer
STAFF DATA SCIENCE ENGINEER SMAI
Quantitative Analytics Senior Manager
Senior Machine Learning Scientist
Lead Data Scientist
Machine Learning Expert
Senior Software Engineer Deep Learning
Sr. Data Scientist
Senior Manager Data Analytics
Innovation Engineer People Analytics
Big Data Hadoop Spark EngineerSr Engineer SMAI
Sr. Manager Data Science & ML Platform
Data Engineer ETL
Associate Data Scientist
StaffSr Software Engineer Machine Learning
Data Scientist
Senior Data Scientist
Senior Engineer Data Scientist
Machine Learning Engineer
Data Scientist
AIML engineering architect
STAFF DATA SCIENCE ENGINEER SMAI
Sr. Engineer Data Science & Artificial Intelligence
Senior Data Scientist
Senior Data Scientist
Data ML Engineer Mid Level
Data ML Engineer Mid Level
DATA SCIENTISTS 4 positions
Data Scientist II
Machine Learning Engineer

Full Stack Developer
Java Full Stack Developer
UIUX Developer
ETL Developer
Full Stack Developer
Tech Lead
Senior Full Stack Cloud Developer
Python Full Stack Developer
Full Stack Developer MEANMERN
Software Developer
Java Full stack Developer
Full Stack Developer
React Developer
Full Stack Developer
Full Stack Developer
Java Full Stack Developer
Full Stack Developer
Full Stack Developer
Full Stack Developer
BI Developer SQL
Full Stack Developer
Live Project Internship
Software Engineer Full Stack
Project Development Manager
Sr.Net Developer
C#  .NET SQL Server HTML CSS JavaScript jQuery Bootst
Full Stack Developer
ReactJS Developer
JAVA Developer
Full Stack Developer Nodejs Reactjs PHP Angularjs Full
MEAN full stack Developer
PHP  Full Stack Developer
Python Developer
Dot Net Developer
Node js developer
Sr. Full Stack Developer
Sr. Node JS Developer
REMOTE Senior Full Stack Developer
Full Stack Developer
Junior Full Stack Developer React
Dotnet Developer
Fullstack Engineer E3661
K2 BPM Application Developer
Senior Software Developer HomeBased
Lead Software Engineer Full Stack
Developer S4HANA Asset Service Management
Senior Full Stack Developer
Full Stack Developer
Immediate Opportunity Adobe AEM Developer
Full Stack Developer
Full Stack Developer Node
Python Developer
LTE Protocol Developer
Java Full Stack Developer
Full Stack Developer Actuations
C# Developer
Full Stack developer Apache Camel Kafka
Senior PHP Developer
ECG4_Embedded_C_CAN_Developer
Graduate Intern Technical Application AIML
Full Stack Developer
Software Engineer Full Stack Developer
Java Full Stack Developer
C12  Full Stack Developer Scrum Team 1
Software Developer – Python
Associate Software Developer Show Systems
Python Full Stack Developer
Python Developer Web Scraping Beautiful Soup Immediate
Java Full Stack Developer
Senior BI Developer
SharePoint Developer
JavaKotlin Developer
JavaScript Full stack Developer
Java Developer
Fullstack developer C# .net Chennai Tamil Nadu
Full Stack Cloud Developer Senior Analyst
C11 Full Stack Java Senior Developer
Lead Software Engineer Java Full Stack
MEANMERN Stack Developer
PHP Developer
Junior Senior Full Stack Software Developer Angular No
Full Stack Survey Developer
COM Stack DeveloperAutosar electric vehicles
Java Full Stack Developer
.Net Full Stack Developers
Senior .NET Developer Offshore Lead
Java Developer
Full Stack Developer
Full Stack Developer
.Net Developer
Full Stack Developer
Full Stack Developer
Technical LeadDeveloper
Full Stack Developer
Full Stack Developer
Opening For Senior Full Stack Developer
Python Developer
Android Developer
Database Developer
Sr. Python Developer
Full Stack Developer
Full Stack Developer Intern
Senior Software Engineer Full Stack Developer
MERN Stack Developer
.Net Full Stack Developer
ReactJS Developer
Software Developer
Full stack Flutter app & web Developer
Full Stack Developer
Full Stack DeveloperSoftware Developer
Cloud virtualization developer
Python Developer Freshers
Web Development Teaching AssistantFully Remote
Team Lead Full Stack Web Developer
React Full stack Developer
Laravel Developer
Software Engineer Intern
Junior Full Stack Developer Bengaluru
PHP & Drupal Train Hire Program
.Net Full Stack Developer
Full Stack Developer
Mern Stack Developer
Sr. Software Engineer Full Stack Developer
FullStack Developer
PHP Developer
Full stack Technical Lead Java
Full Stack Engineer Growth Team
DevOps Engineer
Senior Angular Developer
FullStack Developer
Full Stack Developer ReactJS + NodeJS
Full Stack Developer
Java Full Stack Developer
Sr. PHP Developer
Full Stack Developer
Python Developer
Java Developer
Software Developer Frontend
Android Developer
MEAN Stack Developer
iOS Developer
Full Stack Developer
Dot Net Developer
Full Stack Developer
Senior Full Stack Java Developer
MERN Stack Developer
FullStack Developer
Software Developer  MEAN STACK
Node js developer
MEAN Stack Developer
Full Stack Applications Developer 2
Full Stack ASP.NET Junior Developer
Full Stack Developer
Full Stack Developer .Net React JS C# SQL
Full Stack Developer
Lead Software Engineer
Senior Full Stack Developer_I&I
Full Stack Developer
Full Stack Developer
Sr. Java Full Stack Developer
Full Stack Tech Lead React
Full Stack Developer
Full Stack Developer
Node js developer
Python Developer
MERN Stack Developer
Full Stack Engineer C# .Net
Software Engineering Java full stack
Full Stack Developer Junior
Full Stack Developer Trainer
senior full stack developer microsoft .net
ASP.NET Webforms Developer
Full Stack Developer
Sr. Full Stack Developer MERN
Full Stack Developer
Full Stack Developer
Angular Developer
MERN Stack Developer
Urgent hiring React Native Developer Noida Location
Full Stack Developer
Full Stack Developer Fresher
Backend Developer
Java Full Stack Developer 01 years ENO
Senior Developer Backend  Full Stack
Web Developer Fullstack
React Java Developer B2C1
Sr. Java Developer
JavaScript Developer Full Stack
Full Stack Developer
Full Stack Developer
Full Stack Developer
MEAN Stack Developer
Front EndFull Stack Developer
MEAN Stack Developer
Senior Java Developer
Software Development Engineer – Full Stack Python Web deve
Full Stack Python Senior Developers
Full Stack Developer
Software Engineer – Full Stack Developer react.js – node.js
Urgent Opening For MERN Stack Developer
Full Stack Developer
Full Stack Developer
ReactJS Developer
Python Developer
Full Stack Python Developer
Full Stack Developer – Python Azure
MERN Stack Developer
MEANMERN Stack Developer
Senior Full stack Developer Windchill
Full Stack Developer Dot Net Developer
Java Developer
FullStack Java Developer  Technical Lead
Full Stack DeveloperWFH
Full Stack Developer .NetC#MySQL
PHP Developer
Full Stack Developer
Full Stack Developer
Full Stack Developer
UI developer  36 Yrs Application Development
Senior Software Developer Fullstack
.net developer
Java Full Stack Developer
Full Stack Developer
Software Engineer Noida UP
Software Engineer Frontend
Full stack developerJavaScript
Specialist ProgrammerMEANMERN
Hiring React JS Developer_ LTI
Engineering Manager
Tech Support Engineer
SAP FICO Business SpecialistSr. Business Specialist
Full Stack Software Developer SGO
Software EngineerII Android
Frontend Developer React.js
PHP DEVELOPER  WEB DEVELOPER Job Location Allahabad
Data & Analytics Developers
Lead Engineer
Sr. Full Stack Developer
React.js Developer
EFT Platform Manager Platform Engineering Services SRE
Senior Information Security Engineer
SAP FICO ArchitectSr. Architect
Lead Software Engineer – Fullstack BackEnd JAVA J2EE
Senior Lead Engineer Products
LTI hiring Angular & Java  Full Stack Developers
Principal Software Developer  Career Relaunch
FullStack Software Engineer
Full Stack Developer
Expert Full Stack Development
MERN Stack Developer
Staff Software Developer
Full Stack Advisory Software Engineer
Senior Technologist.NET
Engineering Lead Java
Senior Software Engineer
Frontend developer Meanstack
Urgent Hiring Experience Flutter Developers Full Stack
Full stack Associate Analyst  Business Analyst
DevOps ExpertSr. Expert
Tech LeadBackend Java Spring
IT Senior Developer
Lead Software Engineer CAP Utilities
SENIOR ENGINEER MASK TECHNOLOGY SYSTEMS
Digital Data & Identity Technical Specialist  Sr Technica
Senior Quantitative Analytics Specialist
Sr Software Engineer I Architect Backend Uber Infra
Career Restart Software Engineer
Java Developer
Node JS Typescript developer
Sr. Clinical Programmer Java
Site Reliability Developer 4 2022P
Node.js Developer
Advisory Software Engineer
Senior Software Engineer
Staff Software Engineer Application Development Support
Senior Software Engineer SSISSQL Server.Net
Software Engineer II
Full Stack Developer Intern
Staff Engineer Full Stack Web Developer MERN
Node js developer
Senior Software EngineerIT
Senior TechnologistScripting
Full Stack Developer
Jr. PHP Developer
Senior Software Engineer
Laravel Developer 2+ years
Web Application Developer
React Native Developer
Lead Software Engineer
Engineering Manager II Network Platform
Senior Software Engineer Java Backend
Site Reliability Engineer
Full Stack Developer React Proficiency
Senior Software Engineer
Web Developer PHPFrontendWordpress
Career Restart Software Engineer .net full stack
Full Stack Engineer
Engineer Devops III
Senior Frontend Engineer
Java Microservices Developer
Software Developer Engineer
Full Stack Tech Lead Developer
Specialist Programmer .NET
Software Engineering Lead Hyderabad TG
Principal Software Engineer
Full Stack DeveloperAngular Role
CAP Utilities Lead Software Engineer
Angular Developer Tamilnadu
Digital Solutions Loyalty Technical Specialist  Sr Techni
Sr SW Engineer Frontend
DevOps SpecialistSr. Specialist
Software Engineer II Backend Technical Privacy
Lead Software Engineer – Java Full stack
Senior Engineer SSD Software
Lead Full Stack Engineer
Frontend developer MERNStack
GSD IT Trainee
Business Engineer Payments
NetWitness Software Engineer 1
Front end developer React .Net
Software Engineer [35 years]
Senior PHP Developer
Full Stack Developer
Product UIUX Designer
Full Stack Development Specialist  Sr. Specialist
Software Engineer 2
Senior Java Developer
Sr. Software EngineerFull Stack Developer
SAP FICO Business Specialist
Digital Solutions Personalization Technical Specialist  S
Fullstack Developer NodeJS
Backend Developer Node.Js
Urgent Opening For Vue.jsReact.js Developer
Full Stack Developer Technical Specialist  Sr. Technical
Full Stack Developer Tech Lead JAVA Spring Boot
Specialist ProgrammerJava Microservices
Senior Software Engineer
Software Engineer Full Stack BCG GAMMA
Automation Test Engineer
React Native Developer
Urgent Opening For ASP MVC Developer
PHP Developer
Full Stack Developer
Senior Site Reliability Developer Join OCI 2022P
Sr. Software Engineer
Associate Engineer IIIII
Senior TechnologistJava Spring boot Microservices
Lead software engineering
Full Stack Java Angular Developer 2 Yr Contract  02 year
Full Stack Developer People Analytics
Java Full Stack Developer 2022P
Full Stack Developer
Senior Technical Analyst Web Applications
Lead Software Engineer – Java Full stackFullstack BackEnd
Web Engineer III
Hiring MERN Developer Nodejs+React+SQL LTI Virtua
Full Stack Developer NodeJs & React Remote allgenders
Senior Lead Engineer Solution Support
Full Stack Development Technical Specialist  Sr. Technica
Software Senior Engineer Public Affairs WFIP Buildout .N
Senior Frontend Developer React.js
Senior Full Stack Web Developer
Wordpress Developer
Sr Tech Support Engineer
Java Full Stack Developer
JavaScript Developer
"Java.Net Full stack Developer"
C++ Developer
Node js developer
PHP Wordpress Developer
React Native Developer Mobile Applications
Staff Engineer Full Stack Web Developer MERN
Urgent Hiring Experience Flutter Developers Full Stack
Full Stack Developer
Associate Software Developer
Software Developer Engineer
Sr Tech Support Engineer
NetWitness Software Engineer 1
Frontend Developer React.js
Full Stack Developer
Group Development Manager
Full Stack Web Developer
Sr. Software Developer
PHP DEVELOPER  WEB DEVELOPER Job Location Allahabad
Senior Software Engineer
Full Stack Developer
Full Stack Developer
Senior Full Stack Web Developer
Node.js Developer
Full Stack Advisory Software Engineer
Angular Developer Tamilnadu
Product UIUX Designer
Node js developer
Node JS Typescript developer
Full Stack Developer
Web Application Developer
Full Stack Development Technical Specialist  Sr. Technica
Software Engineer II Backend Technical Privacy
Full Stack DeveloperAngular Role
Urgent Hiring Experience Flutter Developers Full Stack
Software Engineer Noida UP
React Native Developer Mobile Applications
Laravel Developer 2+ years
Tech Support Engineer
Senior Software Engineer SSISSQL Server.Net
Senior Frontend Developer React.js
Software Engineer Full Stack BCG GAMMA
SAP FICO Business SpecialistSr. Business Specialist
Full Stack Advisory Software Engineer
Lead Software Engineer
Sr. Software Engineer
SENIOR ENGINEER MASK TECHNOLOGY SYSTEMS
Senior Technical Analyst Web Applications
Full Stack .Net Developer
Full Stack Developer
Software Engineer Frontend
Software Engineer 2
Web Engineer III
Software Engineer II
Frontend developer Meanstack
Senior Lead Engineer Delivery
React Native Developer
Staff Software Developer
Full Stack Developer Technical Specialist  Sr. Technical
Full Stack Engineer
Angular Developer Tamilnadu
Fullstack Developer NodeJS
Full Stack Developer Viva VOLT
Senior Software Developer Fullstack
.net developer
Full Stack Developer Intern
Senior Java Developer
Full Stack Software Developer SGO
IT Senior Developer
Software Engineer II
Senior Lead Engineer Delivery
Senior Frontend Developer React.js
Engineering Manager II Network Platform
Sr Software Engineer I Architect Backend Uber Infra
Senior Software Engineer Java Backend
Senior Frontend Engineer
Site Reliability Engineer
Senior Technical Analyst Web Applications
Senior Information Security Engineer
SAP FICO ArchitectSr. Architect
Senior Software EngineerIT
Group Development Manager
Automation Test Engineer
Engineering Lead Java
Senior Lead Engineer Delivery
Full Stack Tech Lead Developer
Urgent Opening For ASP MVC Developer
Java Full Stack Developer
Senior Java Developer
Software Engineer Noida UP
Web Developer PHPFrontendWordpress
Software Engineer Full Stack BCG GAMMA
Tech Support Engineer
Principal Software Engineer
Advisory Software Engineer
Full Stack Developer
Sr. Software Developer
Full Stack Web Developer
Software Engineer Frontend
Sr. Clinical Programmer Java
MERN Stack Developer
Career Restart Software Engineer .net full stack
Full Stack DeveloperAngular Role
Engineer Devops III
Automation Test Engineer
Experienced Laravel Developer
.net developer
Full Stack Developer Intern
Product UIUX Designer
Senior Full Stack Web Developer
DevOps SpecialistSr. Specialist
Senior Frontend Engineer
Sr. Full Stack Developer
PHP Wordpress Developer
Lead Full Stack Engineer
Sr. Full Stack Developer
Senior Software Engineer
Full Stack Developer
Sr. Software EngineerFull Stack Developer
Full Stack Developer Tech Lead JAVA Spring Boot
Node.js Developer
Principal Software Developer  Career Relaunch
PHP Developer
React Native Developer Mobile Applications
Full Stack Software Developer SGO
Web Engineer III
Senior Software Engineer
Full Stack Developer
Senior PHP Developer
Node js developer
Full Stack Java Angular Developer 2 Yr Contract  02 year
C# ASP.NET Core MVC fullstack Developer
Staff Software Developer
Associate Engineer IIIII
C++ Developer
FullStack Software Engineer
Full Stack Developer React Proficiency
Tech LeadBackend Java Spring
Java Microservices Developer
Full Stack Developer
Web Developer PHPFrontendWordpress
Sr SW Engineer Frontend
Advisory Software Engineer
SAP FICO Business Specialist
Full Stack Developer People Analytics
Software EngineerII Android
Full Stack Developer Tech Lead JAVA Spring Boot
Backend Developer Node.Js
Sr. Software Engineer
Expert Full Stack Development
Principal Software Developer  Career Relaunch
Principal Software Engineer
Frontend Developer React.js
Java Full Stack Developer
Full Stack Developer
Full Stack Tech Lead Developer
Full Stack Web Developer
GSD IT Trainee
Node js developer
Java Developer
Principal Software Developer  Career Relaunch
Advisory Software Engineer
CAP Utilities Lead Software Engineer
Full Stack Engineer
Software Engineer II
Senior Frontend Developer React.js
LTI hiring Angular & Java  Full Stack Developers
Frontend developer Meanstack
Full Stack Developer Viva VOLT
Hiring MERN Developer Nodejs+React+SQL LTI Virtua
Laravel Developer 2+ years
Urgent Opening For Vue.jsReact.js Developer
Node js developer
React Native Developer
Jr. PHP Developer
React Native Developer
Sr. Software EngineerFull Stack Developer
Web Application Developer
Engineering Lead Java
Wordpress Developer
React.js Developer
UI developer  36 Yrs Application Development
Lead Engineer
Full Stack Developer
Software Engineer II Backend Technical Privacy
Software Senior Engineer Public Affairs WFIP Buildout .N
Staff Software Engineer Application Development Support
Java Developer
Full Stack Developer
Full Stack Developer
Full Stack Developer
UI developer  36 Yrs Application Development
.net developer
Sr. Full Stack Developer
Software Engineer Frontend
Engineering Lead Java
React Native Developer
Senior Lead Engineer Delivery
Frontend developer MERNStack
Full Stack Engineer
GSD IT Trainee
Python Software Developer
Full Stack Developer
Full Stack Developer
UI Developer
Career Restart Software Engineer
Dot Net Developer
Software Engineer 2
Full Stack .Net Developer
Software Engineering Java full stack
senior full stack developer microsoft .net
Python Software Developer
Dot Net Developer
Java Full Stack Developer
Wordpress Developer
Lead software engineering
Full Stack Development Technical Specialist  Sr. Technica
Full Stack DeveloperAngular Role
Senior Software Engineer
Angular Developer Tamilnadu
Engineer Devops III
Lead Full Stack Engineer
Lead Software Engineer – Fullstack BackEnd JAVA J2EE
Sr. Clinical Programmer Java
Sr. Full Stack Developer
Full Stack Developer Tech Lead JAVA Spring Boot
Full Stack Developer
Product UIUX Designer
Expert Full Stack Development
React Native Developer
Staff Software Developer
Software Senior Engineer Public Affairs WFIP Buildout .N
Staff Software Engineer Application Development Support
SENIOR ENGINEER MASK TECHNOLOGY SYSTEMS
Digital Solutions Loyalty Technical Specialist  Sr Techni
Senior Frontend Engineer
Frontend developer MERNStack
Senior Technical Analyst Web Applications
Sr. Software Developer
Senior Software Engineer
Group Development Manager
Lead Software Engineer – Java Full stackFullstack BackEnd
Career Restart Software Engineer .net full stack
Full Stack Developer
Node.js Developer
Full Stack Advisory Software Engineer
Senior Software Engineer SSISSQL Server.Net
Lead Full Stack Engineer
Web Developer Fullstack
Software Engineer [35 years]
Python Software Developer
Software Engineering Lead Hyderabad TG
Full Stack Developer
Full Stack Web Developer
React Native Developer
Site Reliability Engineer
Full Stack Developer NodeJs & React Remote allgenders
Full Stack Developer
Software Engineering Java full stack
senior full stack developer microsoft .net
FullStack Software Engineer
PHP Wordpress Developer
Principal Software Engineer
React.js Developer
Senior TechnologistJava Spring boot Microservices
SAP FICO ArchitectSr. Architect
Senior Lead Engineer Delivery
Senior Lead Engineer Products
Full Stack Developer SMTS
senior full stack developer microsoft .net
Dot Net Developer
Sr PHP Developer Remote
Junior Senior Full Stack Software Developer Angular No
Full Stack Developer Trainer
UI Developer
Software Engineering Java full stack
Node js developer
Full stack developerJavaScript
C++ Developer
Senior Java Developer
Laravel Developer 2+ years
Web Developer PHPFrontendWordpress
Full Stack Advisory Software Engineer
Data Engineer Python  SQL FlexTCA GNO
Big Data Engineer
GCP Data Engineer
Engineer Data Analysis
Finance Reporting Big DataDataBricks Software Engineer
Associate Data Engineer
Data Engineer Big Data
Big Data Engineer
Data Engineer
AWS Data Engineer
4A_Lead Data Engineer
Data Wrangling Engineer
DevOps Engineer 42
Data Engineer
Data Engineer Analyst
Data Engineer
Senior Software Engineer BIg Data
Data Engineer
Data Engineer
Senior Software Engineer Big Data & Python
Data Engineer
Data Engineer
Data Engineer
Python + Big Data Engineer
Senior Big Data Engineer
Senior Data Engineer
Python DeveloperData Engineer
Data Engineer 3 DTA
Data Engineer  Support
Sr Data Engineer
Data Engineer Python & SQL
Hadoop Big Data Developer Junior
Data Engineer PysparkPython
Data Engineer
Data Engineer
Data Engineer
Data Engineer
Data Engineer
Data Engineer

Big Data Engineer
Data Engineer II
Ecosystem Junior Data Engineer
Senior EngineerBig Data
Data Engineer
MBOS_Data Science Engineer Image Database
Senior Consultant Data Engineer
Data Engineer ETL Data Warehouse
Senior Data Engineer
Cloud Data Engineer
Big Data Engineer
Senior Big Data Engineer
Data Engineer
Big Data Engineer
Azure Data Engineer
Big Data Lead Engineer
Data Engineer
Data Engineer DIDP
Data Engineer
Senior Data Engineer
Data Engineer
Software Engineer
Senior Data Engineer
Big Data Engineer
Big data Engineer
Engineer
Data Engineer Matlab Python
Data Engineer III
Staff Data Engineer
Data Engineer
Senior Data Engineer
Data Engineer
Big Data Engineer
Azure Data Engineer
Engineer Software QA
Data Engineer
Big Data Engineer_Associate_C2MA
Senior QA Engineer Big Data
Data Scientist
Senior Data Engineer
Data Engineer
Associate Data Engineer
Data Engineer_Associate_CBGT_C2MA
Senior Big Data Engineer
Big Data Engineer
Data Engineer Data Warehouse
Data Migration Analyst
Data Engineer II 10196
Senior Data Engineer
Senior Data Engineer
Big Data Engineer
Big Data Engineer
Data Engineer SQL PythonJava
Data Engineer
Data Engineer Lead Bangalore KA
Machine Learning Engineer Big Data
Data Engineer
Senior Data Engineer
Big Data Developer
Big Data Engineer
Technical Solutions Engineer Big Data Google Cloud
Senior Data Engineer
Data Engineer Machine Learning
Sr. Data Engineer
Data Engineer
Engineer  Senior Engineer Data Engineer Big DataSparkP
Senior Big Data
Big Data Developer  Engineer
Data Engineer
Data Engineer Senior Consultant
Big Data QA Engineer
Azure Data Engineer
Data Engineer
Software Engr II
Data Engineer  Python PySpark
Lead Data Engineer
Big Data EngineerAIML
Data Science Engineer
Engineer I Big Data Spark
Big Data Platform Engineer
Data Engineer
QA Test Engineer
Data Engineer
Data Engineer Slack
Backend Engineer
Big Data Engineer
Data Engineer
Senior Data Engineer
ASIC RTL IP Design Engineer Devices Services
Data Engineer
Sr. Software Engineer
Data Engineer
Deputy Manager
IoT Automation Engineer
Senior Data Engineer Big Data Spark Hive JavaScala
Data Engineer
AnalystData Engineer
Python Engineer
SDE I Software Engineer Frontend locationbased services
Software Engineer Data Engineer
Senior Data Engineer
Data Engineer Hyderabad
Data Engineer
Lead Big Data Engineer
Data Engineer
Data Engineer
Big Data Engineer
Staff Software Engineer
Big Data Engineer Python SQL HDFS Hive
Big Data Engineer
Big Data Engineer
Data Engineer
Data Scientist Engineer
Senior Data Engineer Hyderabad TG
Data Engineer Big Data
Big Data Engineer
Data Engineer 3
Lead Data Engineer
Data Engineer BI Developer
Big Data Engineer
Sr Data Engineer
DevOps Engineer – SBS Data Analytics
GCP Data Engineer
Data Scientist
Jr Developer Data Engineer ADF
Senior Data Engineer
Data Engineer
Data & Applied Scientist
BIG DATA ENGINEER
INDIA Data Engineer
Data Engineer
Production Engineer Remote
Data Engineer
Health Engineer LGOT
Frontend Software Engineer
Data Engineer
Big Data Engineer
Big Data Engineer Xebia
Big Data Product Engineer
Engineer C#  .NET
Data Engineer
Data Pipeline Engineer
Lead Data Engineer
Big Data Engineers
Senior Data Engineer Bangalore Karnataka
Data Engineer
Big Data Engineer
Senior Engineer Big Data
Data Engineer
Engineer II
Big Data Quality Engineer
Application Engineer
Sr. Big Data Engineer
Sr. Big Data Engineer Cloudera Hortonworks
Data Engineer
Data Engineer
Data Engineer_Technology_T&OCBGTCMA_Cust Mgt & Analytics
Senior Big Data Engineer
Sr Professional Services Engineer Data Engineer
CPU Performance Engineer Devices Services
Data Engineer QuantumBlack
Data Engineer
Data Engineer
Data Engineer – AWS Data Operations
Big Data Engineer
Software Developer_Python
Data Engineer Lead
Big Data Engineer
Big Data Engineers Leads
Big Data QA Engineer Hyderabad
Big Data EngineerDeveloperSr. Developer
GCP Cloud Data Engineer 1
Data Engineer
Data Engineer Big Data
Big Data Engineer
Full stack Software Engineer
Data Engineer
Data Engineer
Data Engineer
GCP Data Engineer
Data Engineer
Data Engineer
Data Engineer
Machine Learning Engineer Hyderabad
Senior Data Engineer
Data Engineer
Application Architect Big Data
InfrastructureSystems Engineer
Software Engineer
Data Engineer GCP
Data Engineer_Associate_CBGT_CMA
Data Engineer
Staff Software Engineer Big Data
experienced Sr.Big Data Engineer
Data Engineer
Production Software Engineer I
Associate Data Engineer
Data Engineer
Implementation Engineer
Data Engineer
Data Science Intern Python
Sr Research Engineer
Engineer  Big Data
Software Engineer Big Data
QA Engineer
Data Engineer Lead Retailer
Data Engineer
Data Engineer
Data Engineer
Data Scientist
GCP Data EngineerArchitect
Senior engineer
Data Engineer
Data Engineer
Customer Success Engineer
Data Scientist III
Data Engineer III
Data AnalystData Engineer
Looking Senior Software engineer
Python Developer
High Speed InputOutput Silicon Validation Engineer
Data Science Engineer
Data Engineer
Senior Data Engineer
Data Engineer Vice President
Data Engineer
Senior Data Engineer BI
Big Data Engineer
Big Data Engineer
Data Engineer
Senior Data Engineer
Data Engineer –AWS GLUE
Scala Data Engineer
Quality Assurance Engineer
Senior Staff Data Engineer
Junior Data Engineer
Azure Data Engineer
Dev Ops Engineer 2
Senior Engineer
Big Data EngineerGoogle Cloud Platform
Senior Data Engineer
Data Engineer_Ban_EAC_2022_3
Staff Data Engineer
Data Engineer II
Data Science Engineer 4
Sr. Data Engineer # 10976
Data Engineer
Big Data Engineer_Associate_CBGT_CMA
Data Engineer
Senior Software Engineer
Data Engineer
Tech Engineer Big Data Lead
Big Data Engineer
Senior Analytics Data Engineer
Senior Data Engineer
Sr Manager Software Engineering Big Data
DevOpsAWS Engineer
Big Data Engineer
Data Engineer
Lead Data Engineer – ED&A
Data Engineer
Data Engineer
Snowflake Data Engineer
Data Engineer
Senior Data Engineer
Software Engineer
Software Engineer
Data Engineer Senior
Big Data Engineer
Engineer QA_05182
QA Lead Engineer
Mindshare Neo  Data Engineer
Tech Lead  Data Engineer
Java + Big Data Engineer
Senior Lead Engineer Data & Analytics
Azure Data Engineer
Senior Data Engineer
Sr. Data Engineer Analytics & Data Management
Data Engineer
Data Engineer
Big Data Engineer
Senior Data Engineer
Senior Data Engineer
Big Data Architect
Research Software Engineer Geodata
Senior Data Engineer
Lead Data Engineer
Data Engineer
Data Science Engineer India
Engineer VP
Data Engineer AWS inter
Data Quality Engineer
Software Engineering Big Data Engineer Mumbai
ML Engineer RFI Drive
Software Engineer Data Engineer
Computer Vision Engineer
QA Engineer
Data Engineer II
AWS Data Engineer
Data Engineer
SRD DATA ENGINEER
Staff Data Engineer
ML Engineer
Data Engineer
Data Engineer
Lead Data Engineer
Sr Staff Engineer Big Data
Senior Data Engineer
Data Engineer  6 9 years  Mumbai & Bengaluru
Senior Data QA Engineer
Data Integration Engineer Python SQL Snowflake
Senior Data Engineer
Data Engineer
Business Intelligence Engineer LMAQ
Data Platform Engineer
Engineer Data Engineer
Silicon Implementation Engineer Devices Services Silic
Data engineer
Software Engineer 10+yrs
Data Science Engineer
Data Engineer 810 years
Sr. Engineering Manager Big DataData Eng.
Tech Support Engineer
Azure Data Engineer
Data EngineerSr. Data Engineer – Analytics
Big Data Engineer AVP
Sr. Data Engineer Big Data Hadoop Java
Senior QA Engineer
Big Data Lead
Data Engineer Finance Platform
Software Development Engineer
Software Engineer Big Data Hyderabad TG
Senior Data Engineer
Google Platform Data Engineer
Senior Data Engineer
Associate Data Engineer
Data Engineer
QA Engineer Cloud Data Services
Sr. Data Scientist Engineer
Senior Data Engineer
Big Data Engineer Full Stack Developer
Data Engineer
Engineer OSI PI
Data Engineer
Data EngineerGCP
Senior Data Engineer
Software Engineer
Senior Staff Engineer Data Path
Data Engineer Architect
Software Engineer Data Science
Machine Learning Engineer
Data Engineer
Big Data Engineer
Lead  Senior Big Data Engineer
Staff Engineer Fleet Management – Analytics
Data Engineer
Principal Engineer Data Path
Junior Software Engineer
COMPUTER VISION ENGINEER
Big Data Engineer
Bigdata Engineer Scala + Spark
Data Platform Engineer
Lead Data Engineer
Associate Data Engineer
UI Engineer 57 years
Data Engineer
Implementation Engineer
Software Support Engineer III
External Data Engineer
Data Engineer
Lead Application Engineer
Sr Manager Technical Support – Big Data  Databases
Sr. Customer Success Engineer Big Data  Data Science
Sr Big Data Engineer
HPE Global Operations Analytics Data Engineer
Software Engineer
Data ScientistAIML
Senior Data Engineer ED&A – APLA
Senior Data Engineer
Business Intelligence Engineer
AI Engineer
Methodology Engineer FrontEnd Devices Services Silic
Data engineer
100432 Azure Data Engineer
Software Engineer
Linux Engineer 2
Lead Data Scientist
Senior Data Engineer
Site Reliability Engineer
Senior Data Engineer
Software Engineer – Data Scientists
Sr Software Engineer Python
ASICSoC RTL Engineer
Data Engineer
Big Data Engineer
Senior Data Engineer I ETLInformatica
DevOps Engineer Junior
Data Engineer – VCA Data Engineering
SDET I
Business Intelligence Engineer II Ring Data Management
Compiler Validation Engineer
Big Data Engineer
Sr Software Engineer Java full stack & AEM
Skywise Engineer
Senior Data Engineer
Machine Learning Engineer Data Science
Data Engineer  Bengaluru Mumbai Chennai  5 Years
Software Engineer Machine Learning
Head Data Science
Senior Data Engineer Automotive Mastermind
Data Engineer Data Integration
Lead Data Engineer ED&A – APLA
Senior Software Engineer Big Data
DevOps Observability Engineer
Staff Big Data
Quality Engineer
Data Engineer Personalization
Senior Data Engineer
Staff Engineer Frontend
AIML Engineer
Sr. Data Engineer Java Fullstack
Cloud Data Engineer Trainer
Data Engineer
Lead Data Engineer
Operations Engineer 3
Data Engineer
Data Engineer Support
Big Data Engineer 6+ years Experience
GCP Data Engineer  2 4 years  Hyderabad & Kolkata
R&D Engineer
Senior Data Scientist
Data Scientist II
Big Data Analytics Spark
Data Engineer W3439
Senior Data Engineer
Software Development Engineer
Data Engineer – ETL Spark
Data Engineer
Senior Big Data Engineer
Data Engineer Personalization
Senior Data Engineer
Senior Data Engineer
Solution Architect Big Data
Azure Data Engineer
CSII Operations Support – Software Support Engineer III
Lead Engineer Python Data EngineerScientist _III
Data Engineer FinTech
AI Engineer
Lead Data Engineer ETLNoida
Development Engineer 3 Kubernetes
Big Data Engineers
Systems Engineer Trainee Snowflake
Sr Software Engineer QA
Data Engineer
Azure Data Engineer
Big Data Lead Developer C12 CTS Pune
Data & MLOPs Platform Engineer Python
Engineer II Applications Programming
Software Engineer Eq Enricher
Enterprise Analytics Big Data Engineer
Senior Engineer II Big Data
Software Intern
Senior Data Engineer
Lead  Senior Data Engineer
Big Data EngineerPermanent48 YrsBangaloreNoidaMNC
Data Engineer Sales
Business Intelligence Engineer
Specalist Software Engineer Big Data
Senior Software Engineer
Data Engineer
Performance Engineer 2
Sr Software Engineer
Data engineer Graph DB experience
Ruby Rails Engineer
Data Engineer
Senior Associate Data Engineer
ETL Testing SQL
Remote Data Analytics Engineer No Gender Bias
Senior Software Engineer Data Engineering
Director Software Engineer Data Multiple Locations
Cloud Data Engineer IM PSDS
Data Engineer Spark
Sr. Software Engineer
Data Engineer
[BLR] Data Analytics Development Engineer
Data Engineer
Principal Software QA Automation Engineer – Big Data
Staff MLOps Engineer
Technical Support Engineer Data Science
AIML Engineer
Associate Software Engineer Frontend
ML Data Engineer
Informatica_Data Engineer
Software Engineer+ C#.Net+ 3yrs 6yrs+ Pune
Manager_GCP_Data_Engineer_Lead
Software Engineer
Machine Learning Engineer
Full Stack Engineer
Python Developer
Senior Data Engineer – ED&A
Senior Data Engineer
Software Engineer II Data Engineer
Data Engineer Consumer Technology
SDE II Santos
Senior Data Engineer
Analyst & BI
Physical Design Implementation Engineer ASIC
BI Engineer
Data Engineer
Team Lead Engineering
Software Engineer Hyderabad TG
Software Engineer Data Analytics Data Analysis Machine
Performance Engineer Release Testing
DevOps Engineer Fully Remote
Senior Big Data EngineerPuneRemote Mindbody
DataOps Engineer
Senior Big Data Engineer Profit Intelligence
Software Engineer
Data Platform Engineer
Senior Big Data Engineer
NLP Engineer
AI Data Foundation Research Engineer
Software Engineer II
Staff Data Engineer
Circuit Design Engineer CMOS Foundation Circuit IP Design
Sr Data Engineer Group Functions
Product Engineer Big Data Expert
Staff Data Engineer
Assistant Manager_ Senior Engineer _GCP Data Engineer
Data Science Intern
Big Data Engineer Wallet & Apple Pay
Data Architect
Senior Software Engineer Multiple Locations
Software Validation Engineer
DataOps Engineer
Senior Associate Data Engineering
Sr. Data Engineer ML
Software Engineer
Data Engineer I AdsTech
Big Data Developer
Senior Data Governance Engineer
Senior Data Engineer
Azure Data Engineer
Junior Data Engineer  Senior Data Engineer
Email Deliverability Engineer
Staff ASIC Analog Design Engineer
Staff ASIC Verification Engineer
Principal Software Engineer WW Installments Expansion Co
PythonMachine Learning Engineer
Customer Engineering Partner Engineer
Senior Big Data Engineer Chennai
Azure Data Engineer
Data Management Engineer
Staff Engineer
Data Scientist
Principal Engineer Data Path
Data Scientist I
Big Data Software Engineer Observability Reliability E
AssociateÂ Data Architect I
Software Consultant Big Data
Senior Data EngineerDatabricks
Data Engineer
Mgr Data Analytics
SENIOR COMPUTER VISION ENGINEER
Business Intelligence Engineer
Senior Data Engineer
Jr Data Engineer
Sr Data Engineer Talend BigData

Senior Software Engineer – Java Big Data
Sr. Data Engineer
Software Engineer  Backend  35years
Implementation Engineer
DevOps Engineering EngineerII
Data Architecture Engineer
Java Backend Engineer Data Merchant Engineering
Cloud Data Engineer
Data Engineer
Data Engineer
QA Automation Engineer Intern
Machine Learning Engineer
Lead Consultant ATM Senior Data Engineer
Agile Engineer
MACHINE LEARNING DATA ENGINEER
Associate Software Engineer
Data Scientist & ML Engineer Lead
Staff Engineer ETX
Big Data Tableau Developer Assistant Vice President
Assistant Manager_Senior Engineer_Big data Developer_Pune
Senior Technical Lead Data Engineer
Big Data Engineer
Senior Splunk SIEM Engineer
Technical Services Engineer – Guardium L2
Business Intelligence Engineer Alexa Skills Kit
Data Engineer WFS ACCS Planning
Machine Learning Engineer
Big Data Lead
Data Scientist
Data Engineer III GBS IND
Software Engineer II Data Science
Engineer 2 Engineering Operations
Site Reliability Developer 4 2022P
Manager 2 Development
Software Engineer Data Engineering II
Senior Software Engineer L5A Backend
Senior Software Engineer  Core Data Platform
Memory Design Engineer
PDE Engineer
Software Engineer II Growth & Marketing Platform
Data Engineer III GBS IND
Software Engineer II Data Science
Engineer 2 Engineering Operations
Sr Software Engineer Data Maps
Data Engineering Sr. Technology AssociateSpecialist
Semi Conductor Engineer
Staff Software Engineer Frontend Customer Obsession
Sr Tech Support Engineer
Big Data Engineer Sr.Lead Hadoop Spark
Systems Engineer WIT ITSM Tools
Experienced Test Automation Engineer
Principal Software Engineer
Associate Data Engineer
Associate Engineer
Sr Software Engineer
Manager Product Specialist
Advisory Automation QAEngineer
Software Engineer II Backend Machine Learning Cognitive P
Staff Software Engineer CRM Intelligence
Java Backend Developer
Principal software engineer
Staff Engineer SSD Validation
Senior Systems Engineer WIT ITSM TOOLS
Software Developer II Growth & Marketing Platform
Staff Software Engineer SEO Intelligence Growth & Market
Solution Architect ATG Ecommerce
Senior Site Reliability Developer Join OCI 2022P
Sr. Supply Chain Engineer
Memory Design Engineer
Senior OMS Developer IBM Sterling
PDE ENGINEER Process Control SystemSPC
Senior Software Engineer FPS
Software Engineer II
Associate OMS Developer IBM Sterling
Frontend Engineer React.js
OMS Developer IBM Sterling
Principal Software Developer 2022P
Software Engineer II Frontend Growth & Marketing Platfor
Senior Advisory Software Engineer
Senior Java Developer
Senior Database Engineer
Senior Technical Analyst Web Applications
Senior Frontend Engineer React.JS
Data Engineering Specialist  Sr. Specialist
LeadStaff Data Engineer Hadoop Spark SMAI
Software Engineer II Backend Technical Privacy
Sr Software Engineer  Fintech
Engineering Lead Java
Quality Assurance Architect
Sr.Software Engineer Eats Data Solutions
Staff Software Engineer Trip Operations platform
Software Engineering Lead Kafka Streams Microservices Cl
Full Stack Developer NodeJs & React Remote allgenders
Senior Software Engineer
Sr Software Engineer Front End Growth Marketing
Engineering Technical Director – GAMMA
SeniorStaffPrincipal Engineer Memory Design
Senior Cybersecurity Engineer
Sr. Software Engineer SEO Intelligence Growth & Marketin
Software Engineer II Enterprise Security
Advisory Quality Assurance Software Engineer
Sr Staff Engineer Ad Tech
Backend Developer Java
Business Intelligence Engineer Alexa Skills Kit
Data Engineer WFS ACCS Planning
Big Data Lead
Data Engineer III GBS IND
Software Engineer II Data Science
Software Engineer II iOS Mobile Development
Sr.Software Engineer Data [RiskMoney & Safety]
Advisory Automation QAEngineer
Advisory Quality Assurance Software Engineer
Full Stack Developer NodeJs & React Remote allgenders
Software Engineer II Frontend Growth & Marketing Platfor
Tech Support Engineer
Java Backend Developer
Big Data Hadoop Spark EngineerSr Engineer SMAI
Senior Software Engineer  Core Data Platform
Staff Software Developer
Engineering Technical Director – GAMMA
Software Engineer II Enterprise Security
Software Engineering Lead Kafka Streams Microservices Cl
Sr Staff Engineer Ad Tech
Quality Assurance Architect
Java Backend Developer
Senior Systems Operations Engineer
Software Engineer II iOS Mobile Development
Sr. Software Engineer CD
Technical Services Engineer – Guardium L2
Sr.Software Engineer Eats Data Solutions
Tech Support Engineer
Software Engineer II
Software Engineer II Growth & Marketing Platform
Backend Developer Java
Sr.Software Engineer Data [RiskMoney & Safety]
Sr Salesforce Developer
Senior Software EngineerBE
Software Engineering Lead Gurgaon HR
Sr Software Engineer Android Growth Marketing
Engineering Lead Java
Solution Architect ATG Ecommerce
SAP Developer ABAP & UI5
PDE Engineer
Senior Database Engineer
Staff Software Engineer CRM Intelligence
Staff Software Developer
Data Engineering Specialist
Associate Data Engineer
Senior Java Developer
Software Developer II Growth & Marketing Platform
Staff Software Engineer SEO Intelligence Growth & Market
Frontend Engineer React.js
Solution Architect ATG Ecommerce
Senior OMS Developer IBM Sterling
Java Developer
Data Scientist
Sr Tech Support Engineer
Software Engineering Lead Gurgaon HR
Systems Engineer IT Monitoring Tools
Senior Data Engineer
Senior Data Engineer GAMMA
Staff Data Engineer
Software Engineer II Backend
Staff Software Engineer Frontend Customer Obsession
Senior Software Engineer
Senior Cybersecurity Engineer
Staff Software Engineer Trip Operations platform
Senior Software Engineer
Senior Software Engineer L5A Backend
Principal software engineer
Sr Software Engineer Android Growth Marketing
Engineering Lead Java
Java Backend Developer
Senior Software Engineer
OMS Developer IBM Sterling
Software Engineer 1 Core Data Platform
Senior Software Engineer L5A Backend
SAP Developer ABAP & UI5
Senior Technical Analyst Web Applications
Associate OMS Developer IBM Sterling
Sr Data Engineer Eats Data Solutions
Senior Software Engineer Data Engineering
Software Engineer II Backend Technical Privacy
Sr Salesforce Developer
Sr. Software Engineer SEO Intelligence Growth & Marketin
Data Engineer GAMMA
Devops Engineer
Devops Engineer
Sr Tech Support Engineer
Senior Frontend Engineer React.JS
Lead .NET Application Support Engineer
Sr Software Engineer Front End Growth Marketing
Senior Data Engineer GAMMA
Software Engineer II Backend Machine Learning Cognitive P
Staff Data Engineer
Sr Software Engineer
Staff Data Engineer
Software Engineer 1 Core Data Platform
Sr Software Engineer  Fintech
Data Engineer Bangalore IN
Data Engineer Bangalore IN
Senior Frontend Engineer React.JS
Data Engineer Bangalore IN
Tech Support Engineer
Software Engineer II Backend Technical Privacy
Software Engineer II
Senior Java Developer
Staff Software Engineer Trip Operations platform
Full Stack Developer NodeJs & React Remote allgenders
Quality Assurance Architect
Software Engineer II Enterprise Security
Sr. Software Engineer CD
Software Engineer II Enterprise Security
Sr. Data Scientist
Privacy Software Engineer
Senior Frontend Engineer
Senior Software Engineer – Data Analytics Big data Develope
Senior Data Engineer
Senior Software Engineer – Data Analytics Big data Develope
Senior Data Engineer
Big Data Tableau Developer Assistant Vice President
Sr. Data Scientist
Privacy Software Engineer
Data Scientist I
Software Engineer Data Engineering II
Manager Data Engineer Lead

In [21]:
for i in results:
    print(get_job(i))

NameError: name 'results' is not defined

In [81]:
df['clean_title']

0                      Clinical Data Scientist
1                               Data Scientist
2                        Senior Data Scientist
3                               Data Scientist
4                     Data & Applied Scientist
                         ...
25242                       Sr. Data Scientist
25243                Privacy Software Engineer
25265                         Data Scientist I
25283    Software Engineer Data Engineering II
25655               Manager Data Engineer Lead
Name: clean_title, Length: 2709, dtype: object

In [82]:
df_comp_rat = df_jobs[['company', 'rating']]

In [83]:
df_comp_rat.drop_duplicates(keep='first')

                                         company rating
0                                         Pfizer    4.2
1                                         Happay    NaN
2                      Jorie Healthcare Partners    NaN
3                         Applied Materials Inc.    3.9
4                                      Microsoft    4.2
...                                          ...    ...
20847  Rakuten India Enterprises Private Limited    3.4
24060                                 BrightTALK    NaN
25119                          Blackhawk Network    3.4
25145                       Pratiti Technologies    NaN
25146                                     AppZen    NaN

[1383 rows x 2 columns]

In [84]:
import pandasql as psql

In [85]:
df_temp = psql.sqldf("SELECT DISTINCT(clean_location) FROM df")

In [86]:
df_clean_loc_list = df_temp.clean_location.str.split(',')
for i in df_clean_loc_list:
    if len(i) == 1:
        print(i)

['']
['Delhi']
['Orissa']
['India']
['Maharashtra']
['Tamil Nadu']
['Telangana']
['West Bengal']
['locationRemote']
['Kerala']
['Kalyananagar']
['Goa']
['locationsRemote']

In [87]:
df_sal_list = df_jobs.salary.str.split(' ')
for i in df_sal_list:
    print(i)

nan
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
['₹7,00,000', '-', '₹15,00,000', 'a', 'year']
['₹5,26,846', '-', '₹17,85,107', 'a', 'year']
nan
nan
['₹10,00,000', 'a', 'year']
nan
nan
['₹5,00,000', '-', '₹7,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
['₹13,00,000', '-', '₹24,00,000', 'a', 'year']
nan
['₹4,10,983', '-', '₹15,42,344', 'a', 'year']
['₹30,006', '-', '₹84,211', 'a', 'month']
['₹20,00,000', 'a', 'year']
nan
nan
nan
['₹5,00,000', '-', '₹15,00,000', 'a', 'year']
nan
['₹13,00,000', '-', '₹24,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹2,96,790', '-', '₹14,75,921', 'a', 'year']
nan
nan
['₹17,00,000', 'a', 'year']
nan
nan
nan
['₹3,61,402', '-', '₹15,27,932', 'a', 'year']
nan
nan
['₹35,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹12,00,000', 'a', 'year']
['₹5,000', '-', '₹15,000', 'a', 'month']
nan
['₹1,00,000', '-', '₹1,20,000', 'a', 'year']
nan
['₹12,00,000', '-', '₹18,00,000', 'a', 'year']
nan
['₹6,00,000', '-', '₹16,00,000', 'a', 'year']
['₹12,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan
['₹35,00,000', 'a', 'year']
nan
nan
nan
nan
['₹24,00,000', '-', '₹28,00,000', 'a', 'year']
nan
['₹5,00,000', '-', '₹20,00,000', 'a', 'year']
nan
nan
['₹1,09,996', '-', '₹5,00,220', 'a', 'year']
['₹18,00,000', '-', '₹27,00,000', 'a', 'year']
nan
nan
nan
['₹55,000', '-', '₹75,000', 'a', 'month']
nan
['₹25,000', '-', '₹35,000', 'a', 'month']
nan
nan
nan
nan
['₹20,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
['₹2,18,877', '-', '₹7,83,556', 'a', 'year']
nan
nan
nan
['₹75,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹15,000', 'a', 'month']
nan
nan
['₹1,00,000', '-', '₹2,20,000', 'a', 'month']
nan
nan
['₹200', 'an', 'hour']
['₹18,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹15,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹18,000', 'a', 'month']
nan
nan
nan
nan
['₹15,00,000', '-', '₹20,00,000', 'a', 'year']
nan
['₹4,12,925', '-', '₹15,46,674', 'a', 'year']
nan
nan
nan
nan
['₹15,000', '-', '₹18,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
nan
['₹80,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
['₹50,000', '-', '₹60,000', 'a', 'month']
nan
nan
nan
['₹8,00,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
nan
['₹30,00,000', '-', '₹35,00,000', 'a', 'year']
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹500', '-', '₹1,000', 'an', 'hour']
nan
nan
nan
nan
nan
nan
['₹2,00,000', '-', '₹8,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹25,00,000', '-', '₹55,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹3,00,000', '-', '₹4,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹4,00,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹50,000', '-', '₹80,000', 'a', 'month']
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
['₹35,000', 'a', 'monthFull-timeDay', 'shift']
nan
['Full-time']
nan
['Full-time']
['Full-time', '+1']
nan
nan
['Full-time']
['Full-time']
['₹6,00,000', 'a', 'year']
nan
nan
nan
nan
['₹15,000', 'a', 'month']
['₹15,00,000', 'a', 'year']
nan
nan
nan
nan
['₹6,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹5,50,000', '-', '₹6,50,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹5,000', '-', '₹15,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹16,00,000', 'a', 'year']
['₹20,000', '-', '₹60,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹8,00,000', '-', '₹9,00,000', 'a', 'year']
nan
nan
nan
['₹3,00,000', '-', '₹10,54,775', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹20,000', '-', '₹25,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
['₹20,000', '-', '₹40,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹22,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
['₹50,000', '-', '₹1,50,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹12,00,000', '-', '₹15,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹10,000', '-', '₹12,000', 'a', 'month']
['₹8,00,000', '-', '₹15,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹20,000', '-', '₹90,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
['₹10,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
nan
nan
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
nan
['₹6,00,000', 'a', 'yearFull-time']
['Full-time']
['Full-time']
['₹7,15,000', '-', '₹7,95,000', 'a', 'yearFull-timeMorning', 'shift']
nan
['Full-time']
nan
['Internship']
['Full-time']
nan
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time', '+1']
nan
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
nan
nan
['Part-time', '+1US', 'shift']
['Full-time']
['Full-time']
['₹15,00,000', '-', '₹20,00,000', 'a', 'yearFull-timeMorning', 'shift']
['Full-time']
nan
['Full-time']
['Part-time']
nan
nan
nan
['Full-time']
nan
nan
['Full-time']
['Full-timeMorning', 'shift']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹50,000', '-', '₹1,00,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹6,00,000', '-', '₹16,00,000', 'a', 'year']
['₹15,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
nan
nan
nan
['Full-time']
['Full-time']
nan
['Full-time']
nan
['Full-time']
nan
nan
nan
['Full-time']
['Full-time']
['₹10,000', '-', '₹15,000', 'a', 'monthPart-time', '+2Morning', 'shift']
['₹50,000', '-', '₹70,000', 'a', 'monthFull-timeFlexible', 'shift', '+1']
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
['Full-time']
['₹66,000', '-', '₹75,000', 'a', 'monthFull-timeMorning', 'shift']
nan
['₹50,000', '-', '₹1,50,000', 'a', 'monthPart-time', '+1Day', 'shift']
nan
['Full-time']
['Full-time']
nan
nan
nan
nan
['₹3,00,000', '-', '₹6,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹12,00,000', '-', '₹15,00,000', 'a', 'year']
nan
nan
nan
nan
['₹15,00,000', '-', '₹24,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹30,00,000', '-', '₹35,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-timeFlexible', 'shift']
['Internship']
['Full-time', '+1']
['Full-time']
['Full-time']
['Full-time']
['₹30,00,000', '-', '₹35,00,000', 'a', 'yearFull-time', '+1Morning', 'shift']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['₹15,000', '-', '₹50,000', 'a', 'month']
nan
nan
nan
['Full-time']
['Full-time']
nan
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time', '+1']
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
nan
nan
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
nan
nan
['₹15,000', '-', '₹50,000', 'a', 'monthFull-timeMorning', 'shift', '+1']
nan
nan
nan
nan
['₹30,00,000', 'a', 'year']
['Full-time']
['₹41,794', '-', '₹1,32,692', 'a', 'month']
['₹41,794', '-', '₹1,32,692', 'a', 'monthFull-time']
nan
nan
nan
nan
nan
nan
nan
nan
['₹6,00,000', '-', '₹14,00,000', 'a', 'year']
nan
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
['Full-timeRotational', 'shift']
['Full-time']
['Full-time']
['₹6,00,000', '-', '₹14,00,000', 'a', 'yearEvening', 'shift']
['Full-time']
['₹7,00,000', '-', '₹12,00,000', 'a', 'year']
['₹1,50,000', '-', '₹5,00,000', 'a', 'year']
['₹10,00,000', '-', '₹15,00,000', 'a', 'year']
['₹2,00,000', '-', '₹6,00,000', 'a', 'year']
['₹375', '-', '₹751', 'an', 'hour']
['₹8,20,000', '-', '₹15,00,000', 'a', 'year']
nan
['₹12,00,000', '-', '₹24,00,000', 'a', 'year']
['₹25,827', '-', '₹60,627', 'a', 'month']
['₹8,40,000', '-', '₹20,00,000', 'a', 'year']
['₹12,00,000', '-', '₹24,00,000', 'a', 'year']
['₹371', '-', '₹742', 'an', 'hour']
['₹6,00,000', 'a', 'year']
['₹25,00,000', '-', '₹80,00,000', 'a', 'year']
nan
['₹3,00,000', '-', '₹4,50,000', 'a', 'yearFull-time', '+1Flexible', 'shift', '+1']
['Full-time']
['₹4,00,000', '-', '₹8,00,000', 'a', 'yearFull-timeDay', 'shift']
['Full-time']
nan
['₹90,000', '-', '₹1,50,000', 'a', 'monthPart-timeFlexible', 'shift']
['₹371', '-', '₹742', 'an', 'hourPart-time', '+1']
['Full-time']
['₹3,00,000', '-', '₹15,00,000', 'a', 'yearFull-timeMorning', 'shift', '+1']
['₹3,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['₹10,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+2']
['₹25,00,000', '-', '₹30,00,000', 'a', 'yearFull-timeMorning', 'shift']
['₹20,000', '-', '₹30,000', 'a', 'monthFull-timeDay', 'shift']
nan
['Full-time']
['₹2,00,000', 'a', 'month']
nan
['₹1,00,000', '-', '₹2,00,000', 'a', 'month']
nan
nan
nan
['₹13,000', '-', '₹25,000', 'a', 'month']
['₹27,40,000', 'a', 'year']
['₹12,00,000', '-', '₹20,00,000', 'a', 'year']
['₹10,00,000', '-', '₹20,00,000', 'a', 'year']
nan
['₹2,00,000', '-', '₹5,50,000', 'a', 'year']
['₹3,54,881', '-', '₹14,78,795', 'a', 'year']
nan
['₹25,000', '-', '₹30,000', 'a', 'month']
['₹5,00,000', '-', '₹12,00,000', 'a', 'year']
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
nan
['₹20,00,000', '-', '₹25,00,000', 'a', 'year']
nan
['₹3,00,000', '-', '₹9,00,000', 'a', 'year']
nan
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
['₹20,00,000', 'a', 'year']
nan
['₹10,00,000', '-', '₹15,00,000', 'a', 'year']
nan
['₹20,000', '-', '₹60,000', 'a', 'month']
['₹6,00,000', '-', '₹8,50,000', 'a', 'year']
['₹4,00,000', '-', '₹10,00,000', 'a', 'year']
['₹6,00,000', '-', '₹11,00,000', 'a', 'year']
['₹5,00,000', 'a', 'year']
['₹25,00,000', '-', '₹30,00,000', 'a', 'year']
['₹6,00,000', '-', '₹10,00,000', 'a', 'year']
['₹3,50,000', '-', '₹6,00,000', 'a', 'year']
['₹3,78,698', '-', '₹7,00,000', 'a', 'year']
['₹1,20,000', '-', '₹2,25,000', 'a', 'month']
nan
['₹8,000', '-', '₹10,000', 'a', 'month']
['₹3,45,901', '-', '₹16,02,982', 'a', 'year']
nan
nan
['₹10,00,000', 'a', 'year']
['₹20,00,000', '-', '₹30,00,000', 'a', 'year']
['₹7,00,000', 'a', 'year']
nan
['₹20,00,000', '-', '₹25,00,000', 'a', 'year']
['₹3,97,133', '-', '₹9,00,000', 'a', 'year']
['₹10,000', 'a', 'month']
nan
nan
['₹4,28,839', '-', '₹14,86,565', 'a', 'year']
['₹20,000', '-', '₹40,000', 'a', 'month']
['₹10,00,000', 'a', 'year']
['₹6,00,000', '-', '₹25,00,000', 'a', 'year']
['₹16,00,000', 'a', 'year']
nan
nan
['₹50,000', '-', '₹70,000', 'a', 'month']
['₹20,000', 'a', 'month']
['₹70,000', '-', '₹1,00,000', 'a', 'month']
['₹10,000', '-', '₹15,000', 'a', 'month']
['₹5,000', '-', '₹8,000', 'a', 'month']
['₹4,00,000', '-', '₹10,00,000', 'a', 'year']
nan
['₹6,00,000', '-', '₹20,00,000', 'a', 'year']
nan
['₹35,000', '-', '₹1,00,000', 'a', 'month']
['₹4,00,000', '-', '₹8,00,000', 'a', 'year']
nan
nan
['₹1,20,000', '-', '₹2,40,000', 'a', 'year']
['₹7,00,000', 'a', 'year']
['₹4,28,528', '-', '₹14,84,978', 'a', 'year']
nan
['₹10,000', '-', '₹12,000', 'a', 'month']
nan
['₹8,00,000', 'a', 'year']
['₹1,125', '-', '₹1,875', 'an', 'hour']
['₹35,000', '-', '₹40,000', 'a', 'month']
['₹70,000', '-', '₹1,00,000', 'a', 'month']
nan
['₹2,00,000', '-', '₹3,00,000', 'a', 'year']
['₹35,000', '-', '₹55,000', 'a', 'month']
['₹40,000', '-', '₹70,000', 'a', 'month']
['₹20,000', '-', '₹35,000', 'a', 'month']
['₹6,00,000', '-', '₹10,00,000', 'a', 'year']
['₹3,00,000', '-', '₹6,00,000', 'a', 'year']
['₹3,00,000', '-', '₹6,00,000', 'a', 'year']
nan
nan
['₹15,135', '-', '₹55,334', 'a', 'month']
nan
['₹1,80,000', '-', '₹4,80,000', 'a', 'year']
['₹2,29,436', '-', '₹4,69,460', 'a', 'year']
nan
['₹13,000', '-', '₹21,000', 'a', 'month']
['₹15,000', 'a', 'month']
nan
nan
['₹7,00,000', 'a', 'year']
['₹30,000', '-', '₹60,000', 'a', 'month']
['₹6,00,000', '-', '₹18,00,000', 'a', 'year']
['₹18,00,000', 'a', 'year']
nan
['₹3,60,000', '-', '₹5,00,000', 'a', 'year']
nan
nan
nan
nan
['₹30,000', '-', '₹1,00,000', 'a', 'month']
nan
nan
['₹35,000', '-', '₹95,000', 'a', 'month']
['₹10,00,000', 'a', 'year']
nan
nan
nan
nan
nan
['₹3,00,000', 'a', 'year']
['₹5,00,000', '-', '₹12,00,000', 'a', 'year']
['₹5,00,000', '-', '₹6,00,000', 'a', 'year']
nan
['₹3,78,717', '-', '₹15,51,761', 'a', 'year']
nan
nan
nan
nan
['₹5,00,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
['₹10,00,000', '-', '₹15,00,000', 'a', 'year']
['₹6,000', 'a', 'month']
['₹3,00,000', '-', '₹8,00,000', 'a', 'year']
nan
['₹35,000', '-', '₹65,000', 'a', 'month']
['₹25,000', '-', '₹30,000', 'a', 'month']
['₹3,00,000', '-', '₹9,00,000', 'a', 'year']
['₹4,00,000', '-', '₹18,00,000', 'a', 'year']
['₹30,000', '-', '₹60,000', 'a', 'month']
['₹4,50,000', '-', '₹10,00,000', 'a', 'year']
['₹1,80,000', 'a', 'year']
nan
['₹14,00,000', '-', '₹20,00,000', 'a', 'year']
['₹3,00,000', '-', '₹10,00,000', 'a', 'year']
['₹5,00,000', '-', '₹15,00,000', 'a', 'year']
['₹8,00,000', '-', '₹10,00,000', 'a', 'year']
['₹3,29,436', '-', '₹13,69,460', 'a', 'year']
nan
['₹15,00,000', '-', '₹24,00,000', 'a', 'year']
nan
nan
nan
nan
['₹10,00,000', '-', '₹20,00,000', 'a', 'year']
nan
['₹4,22,000', '-', '₹14,81,608', 'a', 'year']
nan
nan
['₹6,00,000', '-', '₹7,00,000', 'a', 'year']
['₹15,00,000', '-', '₹23,78,585', 'a', 'year']
['₹10,00,000', 'a', 'year']
['₹20,000', '-', '₹25,000', 'a', 'month']
['₹3,00,000', '-', '₹8,00,000', 'a', 'year']
['₹10,00,000', '-', '₹20,00,000', 'a', 'year']
['₹5,00,000', '-', '₹17,00,000', 'a', 'year']
['₹20,000', 'a', 'month']
['₹25,000', '-', '₹40,000', 'a', 'month']
['₹2,00,000', 'a', 'month']
['₹55,000', '-', '₹65,000', 'a', 'month']
nan
['₹40,000', '-', '₹60,000', 'a', 'month']
nan
nan
nan
['₹3,50,000', '-', '₹6,50,000', 'a', 'year']
['₹3,50,000', 'a', 'year']
['₹3,00,000', 'a', 'year']
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
['₹3,00,000', '-', '₹7,00,000', 'a', 'year']
nan
nan
nan
nan
['₹35,000', '-', '₹70,000', 'a', 'month']
nan
nan
['₹6,00,000', '-', '₹9,00,000', 'a', 'year']
['₹4,04,681', '-', '₹20,00,000', 'a', 'year']
['₹3,28,896', '-', '₹13,67,019', 'a', 'year']
['₹10,163', '-', '₹50,000', 'a', 'month']
['₹9,00,000', '-', '₹13,00,000', 'a', 'year']
nan
nan
['₹3,29,277', '-', '₹13,68,735', 'a', 'year']
nan
nan
nan
nan
['₹5,00,000', '-', '₹13,71,693', 'a', 'yearPart-time', '+1Morning', 'shift', '+2']
nan
['₹4,00,000', '-', '₹12,00,000', 'a', 'yearFull-timeDay', 'shift']
['₹15,00,000', 'a', 'yearFull-timeDay', 'shift']
['Full-time']
['Full-time']
['Full-time']
['₹14,00,000', '-', '₹15,50,000', 'a', 'yearFull-timeMorning', 'shift', '+1']
['₹3,00,000', '-', '₹4,50,000', 'a', 'yearFull-timeDay', 'shift']
['₹2,40,000', '-', '₹2,46,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['Full-time']
['Full-time']
['₹40,000', '-', '₹50,000', 'a', 'monthFull-timeMorning', 'shift']
['₹11,000', '-', '₹50,000', 'a', 'monthFull-time', '+1Day', 'shift']
['₹15,000', '-', '₹40,000', 'a', 'monthFull-timeDay', 'shift']
['₹15,000', '-', '₹30,000', 'a', 'month']
['₹27,000', 'a', 'month']
['₹2,40,000', '-', '₹4,20,000', 'a', 'year']
['₹3,50,000', 'a', 'year']
nan
['₹70,000', 'a', 'month']
['₹2,00,000', '-', '₹4,00,000', 'a', 'year']
nan
nan
['₹30,000', '-', '₹60,000', 'a', 'month']
nan
['₹7,00,000', '-', '₹20,00,000', 'a', 'year']
['₹2,33,128', '-', '₹11,07,643', 'a', 'year']
nan
['₹4,00,000', '-', '₹9,00,000', 'a', 'year']
['Full-time']
['Part-time', '+2Flexible', 'shift', '+4']
['Full-time']
['₹20,000', '-', '₹70,000', 'a', 'monthFull-timeDay', 'shift']
['Full-time']
['₹3,52,467', '-', '₹15,29,444', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['₹6,00,000', '-', '₹13,00,000', 'a', 'yearFull-timeMorning', 'shift']
['Full-time']
['₹15,00,000', '-', '₹25,00,000', 'a', 'yearPart-time', '+1Day', 'shift']
nan
['₹10,00,000', '-', '₹30,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+3']
['₹4,00,000', '-', '₹17,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['Full-time']
['₹17,000', '-', '₹24,000', 'a', 'monthFull-timeDay', 'shift']
nan
nan
nan
['₹5,000', '-', '₹8,000', 'a', 'month']
['₹1,80,000', '-', '₹2,40,000', 'a', 'year']
nan
['₹6,00,000', '-', '₹7,00,000', 'a', 'year']
nan
['₹6,00,000', 'a', 'year']
['₹3,54,016', '-', '₹14,70,365', 'a', 'year']
['₹3,28,938', '-', '₹8,00,000', 'a', 'year']
['₹12,500', '-', '₹25,000', 'a', 'month']
['₹6,00,000', '-', '₹24,00,000', 'a', 'year']
['₹3,60,000', '-', '₹6,00,000', 'a', 'year']
nan
nan
nan
nan
['₹12,00,000', '-', '₹18,00,000', 'a', 'year']
nan
['₹6,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan

['₹80,000', '-', '₹1,00,000', 'a', 'month']
['₹4,00,000', '-', '₹15,00,000', 'a', 'year']
['₹4,00,000', '-', '₹7,00,000', 'a', 'year']
['₹25,000', '-', '₹60,000', 'a', 'month']
nan
nan
nan
nan
['₹5,00,000', 'a', 'year']
['₹6,00,000', '-', '₹15,00,000', 'a', 'year']
nan
nan
['₹14,00,000', '-', '₹16,00,000', 'a', 'year']
nan
['₹20,000', 'a', 'month']
['₹13,00,000', 'a', 'year']
['₹30,000', '-', '₹50,000', 'a', 'month']
['₹20,000', '-', '₹60,000', 'a', 'month']
['₹15,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹2,88,747', '-', '₹12,74,756', 'a', 'year']
['₹3,00,000', '-', '₹15,00,000', 'a', 'year']
['₹60,000', '-', '₹70,000', 'a', 'month']
['₹7,32,243', '-', '₹13,75,130', 'a', 'year']
nan
['₹8,00,000', '-', '₹15,00,000', 'a', 'year']
nan
['₹4,50,000', '-', '₹6,00,000', 'a', 'year']
nan
['₹2,40,000', 'a', 'year']
nan
nan
['₹4,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
['₹16,16,768', 'a', 'year']
['₹1,00,000', '-', '₹1,20,000', 'a', 'month']
['₹20,000', '-', '₹40,000', 'a', 'month']
nan
['₹13,660', '-', '₹54,910', 'a', 'month']
nan
nan
nan
['₹5,00,000', '-', '₹18,00,000', 'a', 'year']
['₹35,000', '-', '₹75,000', 'a', 'month']
['₹3,50,000', '-', '₹4,00,000', 'a', 'year']
['₹50,000', 'a', 'month']
['₹50,000', '-', '₹75,000', 'a', 'month']
nan
['₹12,00,000', '-', '₹18,00,000', 'a', 'year']
['₹3,00,000', '-', '₹6,50,000', 'a', 'year']
nan
['₹75,000', '-', '₹1,00,000', 'a', 'month']
['₹8,00,000', 'a', 'year']
nan
['₹2,50,000', '-', '₹4,80,000', 'a', 'year']
nan
['₹5,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan
['₹20,000', '-', '₹75,000', 'a', 'month']
['₹3,00,000', '-', '₹5,00,000', 'a', 'year']
['₹26,000', '-', '₹45,000', 'a', 'month']
['₹6,000', '-', '₹12,000', 'a', 'month']
['₹7,00,000', 'a', 'year']
['₹4,28,647', '-', '₹14,84,864', 'a', 'year']
['₹45,000', '-', '₹55,000', 'a', 'month']
['₹42,000', '-', '₹67,771', 'a', 'month']
['₹2,59,616', '-', '₹12,82,787', 'a', 'year']
['₹15,000', '-', '₹25,000', 'a', 'month']
['₹15,00,000', '-', '₹28,00,000', 'a', 'year']
['₹3,00,000', '-', '₹6,00,000', 'a', 'year']
['₹3,02,183', '-', '₹15,00,000', 'a', 'year']
nan
nan
['₹20,000', '-', '₹40,000', 'a', 'month']
nan
nan
nan
nan
['₹4,28,360', '-', '₹10,00,000', 'a', 'year']
nan
['₹6,00,000', 'a', 'year']
['₹25,991', '-', '₹1,09,009', 'a', 'month']
nan
['₹65,000', 'a', 'month']
nan
nan
['₹30,000', '-', '₹40,000', 'a', 'month']
['₹3,60,942', '-', '₹15,03,989', 'a', 'year']
nan
nan
nan
nan
['₹8,000', '-', '₹15,000', 'a', 'month']
['₹8,00,000', 'a', 'year']
nan
nan
nan
['₹50,000', '-', '₹1,00,000', 'a', 'month']
nan
nan
['₹6,00,000', '-', '₹9,00,000', 'a', 'year']
['₹3,60,068', '-', '₹14,44,470', 'a', 'year']
['₹8,00,000', 'a', 'year']
['₹2,28,500', '-', '₹6,65,419', 'a', 'year']
['₹40,000', 'a', 'month']
['₹18,00,000', 'a', 'year']
['₹75,000', 'a', 'month']
nan
['₹3,00,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
['₹20,000', '-', '₹40,000', 'a', 'month']
['₹6,00,000', '-', '₹14,00,000', 'a', 'year']
['₹25,000', '-', '₹30,000', 'a', 'month']
nan
nan
['₹13,00,000', '-', '₹17,00,000', 'a', 'year']
['₹50,000', '-', '₹75,000', 'a', 'month']
nan
['₹5,00,000', '-', '₹20,00,000', 'a', 'year']
['₹8,52,456', '-', '₹19,28,072', 'a', 'year']
nan
['₹17,00,000', 'a', 'year']
nan
nan
nan
nan
nan
['₹5,00,000', '-', '₹15,00,000', 'a', 'year']
nan
nan
nan
['₹5,00,000', 'a', 'year']
['₹15,000', '-', '₹50,000', 'a', 'month']
['₹25,000', '-', '₹60,000', 'a', 'month']
nan
['₹22,00,000', '-', '₹30,00,000', 'a', 'year']
['₹50,000', '-', '₹1,00,000', 'a', 'month']
['₹4,00,000', '-', '₹10,00,000', 'a', 'year']
['₹20,00,000', '-', '₹22,00,000', 'a', 'year']
nan
['₹3,52,456', '-', '₹15,28,072', 'a', 'year']
['₹8,086', '-', '₹14,948', 'a', 'month']
['₹10,00,000', 'a', 'year']
['₹20,000', 'a', 'month']
['₹4,00,000', '-', '₹18,00,000', 'a', 'year']
['₹3,11,844', '-', '₹13,66,728', 'a', 'year']
['₹30,00,000', 'a', 'year']
['₹15,00,000', 'a', 'year']
['₹6,00,000', '-', '₹10,00,000', 'a', 'year']
['₹30,000', '-', '₹75,000', 'a', 'month']
nan
['₹2,40,000', '-', '₹4,20,000', 'a', 'year']
['₹20,000', '-', '₹30,000', 'a', 'month']
nan
['₹60,000', '-', '₹1,00,000', 'a', 'month']
['₹6,00,000', '-', '₹12,00,000', 'a', 'year']
['₹5,00,000', '-', '₹18,00,000', 'a', 'year']
['₹50,000', '-', '₹70,000', 'a', 'month']
['₹12,000', '-', '₹30,000', 'a', 'month']
nan
['₹3,50,000', '-', '₹4,00,000', 'a', 'year']
nan
nan
['₹1,125', '-', '₹1,875', 'an', 'hourPart-time', '+1Night', 'shift', '+1']
nan
['Full-time']
nan
['₹25,000', '-', '₹40,000', 'a', 'monthFull-timeFlexible', 'shift']
['₹3,72,925', '-', '₹15,20,284', 'a', 'yearFull-timeFlexible', 'shift']
['Full-time']
['₹70,000', '-', '₹1,00,000', 'a', 'monthFull-time']
['Full-time']
['₹6,00,000', 'a', 'yearFull-time']
nan
['Full-time']
['₹9,596', '-', '₹43,823', 'a', 'monthFull-timeMorning', 'shift']
nan
['₹60,000', 'a', 'monthFull-timeFlexible', 'shift']
nan
nan
['₹5,00,000', '-', '₹20,00,000', 'a', 'year']
nan
['₹8,00,000', 'a', 'year']
nan
nan
nan
['₹25,939', '-', '₹1,06,754', 'a', 'month']
nan
nan
nan
nan
['₹3,00,000', '-', '₹5,00,000', 'a', 'month']
nan
['₹30,000', '-', '₹60,000', 'a', 'month']
nan
nan
nan
nan
['₹10,000', '-', '₹50,000', 'a', 'month']
['₹5,00,000', 'a', 'year']
['₹8,00,000', 'a', 'year']
nan
nan
['₹3,53,931', '-', '₹15,25,161', 'a', 'year']
['₹6,00,000', '-', '₹12,00,000', 'a', 'year']
nan
['₹20,000', '-', '₹35,000', 'a', 'month']
['₹15,00,000', 'a', 'year']
['₹2,32,873', '-', '₹11,06,906', 'a', 'year']
nan
['₹2,40,000', '-', '₹4,40,000', 'a', 'year']
['₹30,000', '-', '₹60,000', 'a', 'month']
['₹20,00,000', '-', '₹35,00,000', 'a', 'year']
['₹15,000', 'a', 'month']
['₹2,00,000', '-', '₹6,00,000', 'a', 'year']
nan
nan
['₹6,00,000', 'a', 'year']
['₹14,00,000', '-', '₹18,00,000', 'a', 'year']
nan
['₹20,000', '-', '₹40,000', 'a', 'month']
nan
nan
['₹20,000', '-', '₹60,000', 'a', 'month']
nan
['₹5,00,000', '-', '₹6,00,000', 'a', 'year']
nan
nan
['₹6,00,000', '-', '₹12,00,000', 'a', 'year']
['₹5,00,000', '-', '₹7,00,000', 'a', 'year']
nan
nan
['₹35,000', '-', '₹70,000', 'a', 'month']
nan
['₹3,29,271', '-', '₹13,69,269', 'a', 'year']
['₹15,000', '-', '₹40,000', 'a', 'month']
['₹6,000', '-', '₹15,000', 'a', 'month']
nan
['₹2,50,000', 'a', 'year']
['₹6,00,000', '-', '₹14,00,000', 'a', 'year']
nan
['₹3,00,000', '-', '₹8,00,000', 'a', 'year']
nan
nan
nan
nan
nan
['₹9,00,000', '-', '₹19,00,000', 'a', 'year']
nan
['₹3,29,197', '-', '₹13,68,544', 'a', 'year']
nan
nan
['₹12,00,000', '-', '₹14,00,000', 'a', 'year']
['₹11,540', '-', '₹35,000', 'a', 'month']
['₹5,00,000', '-', '₹18,00,000', 'a', 'year']
nan
['₹12,00,000', 'a', 'year']
nan
nan
['₹12,00,000', '-', '₹15,00,000', 'a', 'year']
nan
nan
['₹15,00,000', '-', '₹20,00,000', 'a', 'year']
nan
nan
nan
nan
nan
['₹5,00,000', '-', '₹6,00,000', 'a', 'year']
['₹15,000', '-', '₹40,000', 'a', 'month']
nan
['₹5,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
['₹7,00,000', 'a', 'year']
nan
nan
nan
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
['₹20,000', '-', '₹30,000', 'a', 'month']
nan
['₹1,50,000', '-', '₹3,00,000', 'a', 'month']
['₹3,00,000', '-', '₹10,00,000', 'a', 'year']
['₹1,50,000', '-', '₹6,00,000', 'a', 'year']
nan
['₹40,000', '-', '₹60,000', 'a', 'month']
nan
nan
['₹1,00,000', '-', '₹3,50,000', 'a', 'year']
['₹5,29,402', '-', '₹10,69,478', 'a', 'year']
nan
nan
['₹10,00,000', '-', '₹14,00,000', 'a', 'year']
nan
['₹3,00,000', '-', '₹6,00,000', 'a', 'year']
['₹15,000', '-', '₹35,000', 'a', 'month']
['₹3,00,000', '-', '₹10,00,000', 'a', 'year']
['₹5,54,017', '-', '₹18,72,968', 'a', 'year']
['₹2,58,660', '-', '₹12,14,000', 'a', 'year']
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
['₹8,000', '-', '₹10,000', 'a', 'month']
['₹6,00,000', '-', '₹16,00,000', 'a', 'year']
nan
nan
nan
nan
['₹13,00,000', '-', '₹22,00,000', 'a', 'year']
nan
['₹5,00,000', '-', '₹10,00,000', 'a', 'year']
['₹5,00,000', '-', '₹6,00,000', 'a', 'year']
['₹4,20,000', 'a', 'year']
['₹10,000', '-', '₹40,000', 'a', 'month']
['₹14,286', '-', '₹30,000', 'a', 'month']
['₹6,00,000', '-', '₹20,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
['₹20,000', '-', '₹40,000', 'a', 'month']
nan
['₹10,00,000', '-', '₹30,00,000', 'a', 'year']
nan
['₹3,26,851', '-', '₹14,07,796', 'a', 'year']
['₹11,182', '-', '₹53,951', 'a', 'month']
nan
['₹8,00,000', '-', '₹19,00,000', 'a', 'year']
['₹2,00,000', 'a', 'month']
nan
nan
['₹2,50,000', '-', '₹5,00,000', 'a', 'year']
['₹10,00,000', 'a', 'year']
['₹18,00,000', 'a', 'year']
['₹1,00,000', '-', '₹1,50,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹3,00,000', '-', '₹4,00,000', 'a', 'year']
nan
nan
nan
nan
['₹5,00,000', '-', '₹9,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
['₹12,000', '-', '₹20,000', 'a', 'month']
nan
['₹2,50,000', 'a', 'month']
['₹14,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
['₹15,00,000', '-', '₹30,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹25,000', '-', '₹55,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹5,00,000', '-', '₹10,00,000', 'a', 'year']
['₹25,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹5,000', '-', '₹6,000', 'a', 'month']
nan
['₹5,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
['₹850', '-', '₹1,150', 'an', 'hour']
['₹1,50,000', '-', '₹2,50,000', 'a', 'year']
nan
nan
['₹8,000', '-', '₹20,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹45,000', '-', '₹50,000', 'a', 'month']
['₹6,00,000', 'a', 'year']
['₹14,000', '-', '₹25,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹80,000', '-', '₹1,00,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
['₹3,00,000', '-', '₹5,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹65,000', '-', '₹1,25,000', 'a', 'month']
['₹40,000', '-', '₹70,000', 'a', 'month']
['₹3,60,000', '-', '₹4,60,360', 'a', 'year']
['₹6,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹5,00,000', '-', '₹8,00,000', 'a', 'year']
['₹20,000', '-', '₹30,000', 'a', 'month']
nan
['₹5,96,608', '-', '₹8,19,767', 'a', 'year']
nan
nan
nan
nan
nan
['₹10,000', '-', '₹15,000', 'a', 'month']
['₹21,155', '-', '₹48,743', 'a', 'month']
['₹12,830', '-', '₹60,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹4,00,000', '-', '₹8,00,000', 'a', 'year']
nan
nan
['₹10,000', '-', '₹15,000', 'a', 'month']
nan
nan
nan
nan
['₹2,00,000', 'a', 'month']
nan
nan
nan
nan
nan
['₹30,000', '-', '₹40,000', 'a', 'month']
nan
nan
['₹2,50,000', 'a', 'year']
nan
nan
['₹20,000', '-', '₹40,000', 'a', 'month']
['₹15,000', '-', '₹45,000', 'a', 'month']
nan
['Full-time']
['₹25,000', '-', '₹55,000', 'a', 'monthFull-timeFlexible', 'shift', '+2']
['₹3,00,000', '-', '₹4,00,000', 'a', 'yearFull-timeDay', 'shift']
['Full-time']
['₹80,000', '-', '₹1,00,000', 'a', 'monthFull-time']
['Full-timeRotational', 'shift']
['Full-time']
['Full-time']
nan
nan
['₹8,000', '-', '₹35,000', 'a', 'month']
['₹22,000', '-', '₹35,000', 'a', 'month']
['₹12,000', '-', '₹20,000', 'a', 'monthFull-timeMorning', 'shift']
['₹6,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['₹850', '-', '₹1,150', 'an', 'hourFull-timeMorning', 'shift', '+2']
['₹12,830', '-', '₹60,000', 'a', 'monthFull-timeMorning', 'shift']
['Full-time']
['Full-timeFlexible', 'shift']
['Full-time']
['₹3,00,000', '-', '₹5,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['₹6,00,000', 'a', 'year']
['₹5,00,000', '-', '₹12,00,000', 'a', 'year']
['₹5,00,000', '-', '₹10,00,000', 'a', 'year']
['₹12,830', '-', '₹60,000', 'a', 'month']
['₹8,000', '-', '₹20,000', 'a', 'month']
nan
nan
nan
['₹25,000', '-', '₹55,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹2,33,128', '-', '₹11,07,643', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹3,00,000', '-', '₹5,00,000', 'a', 'year']
nan
['₹8,00,000', 'a', 'year']
nan
nan
['₹5,000', '-', '₹6,000', 'a', 'month']
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
nan
['Full-timeFlexible', 'shift']
['₹10,000', '-', '₹15,000', 'a', 'monthFull-timeMorning', 'shift', '+1']
['Full-time']
['Full-timeFlexible', 'shift', '+1']
['Full-time']
['₹14,000', '-', '₹25,000', 'a', 'monthFull-timeDay', 'shift']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-timeDay', 'shift']
['₹22,000', '-', '₹35,000', 'a', 'monthFull-timeDay', 'shift']
['₹8,000', '-', '₹35,000', 'a', 'monthPart-time', '+2Morning', 'shift']
['Full-time']
['₹25,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['Full-time', '+1Day', 'shift']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['₹387', '-', '₹774', 'an', 'hour']
['Full-time']
['₹5,000', '-', '₹6,000', 'a', 'monthFull-time', '+1Morning', 'shift']
['₹6,00,000', 'a', 'yearFull-timeDay', 'shift']
nan
nan
nan
['₹14,00,000', '-', '₹18,00,000', 'a', 'yearFull-time']
['₹15,000', '-', '₹45,000', 'a', 'monthFull-timeFlexible', 'shift', '+4']
['Full-time']
['₹6,00,000', '-', '₹12,00,000', 'a', 'year']
nan
['₹4,30,000', '-', '₹9,70,000', 'a', 'year']
nan
['₹5,96,608', '-', '₹8,19,767', 'a', 'year']
nan
['Full-time']
['₹21,155', '-', '₹48,743', 'a', 'monthFull-timeFixed', 'shift']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['₹4,40,000', '-', '₹8,00,000', 'a', 'year']
['₹40,000', '-', '₹70,000', 'a', 'monthFull-timeNight', 'shift', '+1']
['₹5,00,000', '-', '₹6,00,000', 'a', 'yearFull-timeFlexible', 'shift']
['₹4,00,000', '-', '₹8,00,000', 'a', 'yearFull-timeDay', 'shift']
['₹25,000', '-', '₹60,000', 'a', 'monthFull-timeFlexible', 'shift', '+1']
['Full-time']
['Full-time']
['Full-timeDay', 'shift']
['₹15,00,000', '-', '₹30,00,000', 'a', 'yearFull-timeUS', 'shift']
['₹45,000', '-', '₹50,000', 'a', 'monthFull-timeDay', 'shift']
nan
nan
['₹850', '-', '₹1,150', 'an', 'hour']
['₹14,000', '-', '₹25,000', 'a', 'month']
nan
nan
nan
['Full-time']
['Full-time']
['₹5,96,608', '-', '₹8,19,767', 'a', 'yearFull-timeDay', 'shift']
['₹5,00,000', '-', '₹8,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['Full-time']
nan
nan
nan
nan
nan
['₹3,00,000', '-', '₹4,00,000', 'a', 'year']
nan
['₹8,000', '-', '₹35,000', 'a', 'month']
nan
['₹5,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹8,00,000', 'a', 'year']
nan
['Full-timeFlexible', 'shift']
['₹20,000', '-', '₹30,000', 'a', 'monthFull-timeMorning', 'shift', '+1']
['₹5,00,000', '-', '₹12,00,000', 'a', 'yearFull-timeNight', 'shift', '+2']
['Full-time']
['₹1,50,000', '-', '₹2,50,000', 'a', 'yearFull-timeDay', 'shift']
['Full-time']
['Full-time']
['₹8,000', '-', '₹20,000', 'a', 'monthFull-timeFlexible', 'shift', '+2']
['Full-time']
['₹30,000', '-', '₹40,000', 'a', 'monthFull-timeDay', 'shift']
['Full-time']
['Full-time']
['₹2,50,000', 'a', 'monthFull-timeFlexible', 'shift']
['Full-timeUS', 'shift']
['Full-time']
nan
nan
['Full-time']
['₹18,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['₹1,00,000', '-', '₹1,50,000', 'a', 'monthFull-timeDay', 'shift']
['Full-timeRotational', 'shift']
['Full-time']
['Full-time']
['₹6,00,000', '-', '₹12,00,000', 'a', 'yearFull-timeDay', 'shift']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
['₹4,50,000', '-', '₹9,00,000', 'a', 'year']
['₹25,000', '-', '₹69,365', 'a', 'month']
['₹5,00,000', '-', '₹10,00,000', 'a', 'year']
['₹10,00,000', '-', '₹20,00,000', 'a', 'year']
['Full-time']
['₹4,00,000', '-', '₹15,00,000', 'a', 'year']
['Full-time']
['₹2,33,128', '-', '₹11,07,643', 'a', 'yearFull-timeFlexible', 'shift']
['Full-time']
['Full-time']
['₹4,50,000', '-', '₹9,00,000', 'a', 'yearFull-time']
['₹4,00,000', '-', '₹15,00,000', 'a', 'yearFull-timeFixed', 'shift']
['Full-time']
['₹30,000', '-', '₹40,000', 'a', 'monthFull-timeDay', 'shift']
nan
nan
['Full-time']
nan
['₹3,00,000', '-', '₹5,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['Full-time']
['Full-time']
nan
['₹25,00,000', 'a', 'year']
['₹14,00,000', '-', '₹18,00,000', 'a', 'year']
['₹5,96,608', '-', '₹8,19,767', 'a', 'year']
nan
['₹6,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹22,000', '-', '₹35,000', 'a', 'month']
['₹6,00,000', 'a', 'year']
nan
nan
nan
['₹850', '-', '₹1,150', 'an', 'hour']
nan
nan
nan
nan
['Full-time']
['₹65,000', '-', '₹1,25,000', 'a', 'monthFull-time']
['₹4,50,000', '-', '₹9,00,000', 'a', 'yearFull-time']
['Full-time']
['₹3,60,000', '-', '₹4,60,360', 'a', 'yearMorning', 'shift']
['₹8,000', '-', '₹35,000', 'a', 'month']
nan
nan
['₹2,00,000', 'a', 'monthFull-time']
['₹35,000', 'a', 'month']
nan
nan
['₹15,00,000', '-', '₹30,00,000', 'a', 'year']
['₹15,000', '-', '₹45,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['₹4,00,000', '-', '₹15,00,000', 'a', 'yearFull-timeFixed', 'shift']
['₹3,60,000', '-', '₹6,00,000', 'a', 'yearFull-timeNight', 'shift', '+1']
['₹8,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+2']
['₹5,29,402', '-', '₹10,69,478', 'a', 'yearFull-time']
['₹10,00,000', '-', '₹20,00,000', 'a', 'yearFull-time']
['Full-time']
['₹20,000', '-', '₹40,000', 'a', 'monthFull-timeMorning', 'shift']
['Full-time']
['Full-timeDay', 'shift']
['Full-timeFlexible', 'shift', '+1']
['Full-timeFlexible', 'shift']
['₹14,000', '-', '₹25,000', 'a', 'monthFull-timeDay', 'shift']
['Full-time']
nan
nan
['₹3,00,000', 'a', 'year']
nan
nan
nan
nan
['₹10,00,000', '-', '₹35,00,000', 'a', 'year']
nan
['₹4,80,115', '-', '₹17,92,619', 'a', 'year']
nan
nan
nan
['₹25', 'an', 'hour']
nan
nan
nan
['₹8,00,000', '-', '₹11,00,000', 'a', 'year']
['₹5,72,805', '-', '₹19,03,819', 'a', 'year']
nan
nan
['₹5,00,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
['₹9,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
['₹5,73,965', '-', '₹19,07,163', 'a', 'year']
['₹15,00,000', '-', '₹20,00,000', 'a', 'year']
nan
nan
['₹10,00,000', '-', '₹15,00,000', 'a', 'year']
nan
['₹20,00,000', '-', '₹50,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹25,00,000', 'a', 'year']
nan
nan
nan
nan
['₹6,05,005', '-', '₹24,99,857', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹42,062', '-', '₹1,20,000', 'a', 'month']
['₹15,00,000', '-', '₹30,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

['₹15,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹6,00,000', '-', '₹20,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹15,00,000', 'a', 'year']
['₹44,43,829', '-', '₹60,17,875', 'a', 'year']
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
['₹9,00,000', '-', '₹12,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹7,00,000', 'a', 'year']
nan
nan
nan
nan
nan
['₹15,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan
nan
['Full-time']
['Full-time']
nan
['Full-timeFlexible', 'shift', '+2']
['₹15,00,000', '-', '₹25,00,000', 'a', 'yearFull-timeDay', 'shift']
nan
['Full-time']
nan
['Full-time']
['₹1,00,000', '-', '₹1,20,000', 'a', 'year']
['Full-time']
nan
['₹12,00,000', '-', '₹22,00,000', 'a', 'year']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
nan
nan
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
['₹15,00,000', '-', '₹24,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹15,00,000', '-', '₹27,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
nan
nan
nan
['Full-time', '+1']
['Full-time']
['₹2,26,513', '-', '₹5,00,000', 'a', 'yearFull-time', '+1Day', 'shift']
['₹26,00,000', '-', '₹35,00,000', 'a', 'year']
nan
nan
['₹5,00,000', 'a', 'yearFull-timeFlexible', 'shift', '+1']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['₹6,00,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
['₹27,00,000', 'a', 'year']
['₹2,36,380', '-', '₹4,99,276', 'a', 'year']
nan
nan
['₹2,00,000', '-', '₹8,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹4,00,000', '-', '₹5,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹24,99,999', '-', '₹25,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
['₹8,00,000', '-', '₹12,00,000', 'a', 'year']
['₹15,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹5,74,710', '-', '₹19,11,064', 'a', 'year']
nan
['₹30,00,000', '-', '₹35,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹20,00,000', '-', '₹30,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹2,09,855', '-', '₹9,49,710', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹30,00,000', '-', '₹45,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['₹5,70,968', '-', '₹19,00,005', 'a', 'yearFull-timeDay', 'shift']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['₹9,00,000', '-', '₹12,00,000', 'a', 'yearFull-timeDay', 'shift']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹17,00,000', '-', '₹30,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹10,000', '-', '₹20,000', 'a', 'month']
nan
nan
['₹20,00,000', '-', '₹30,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
['₹5,74,710', '-', '₹19,11,064', 'a', 'year']
['₹15,00,000', '-', '₹22,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹10,00,000', '-', '₹20,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹35,000', 'a', 'month']
['₹2,50,000', '-', '₹10,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
['₹4,00,000', '-', '₹8,00,000', 'a', 'year']
nan
nan
['₹6,00,000', '-', '₹18,00,000', 'a', 'year']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
nan
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Internship']
nan
['Full-timeFlexible', 'shift']
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['₹2,00,000', 'a', 'month']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['₹2,00,000', 'a', 'monthFull-time']
['Full-time']
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
['Full-time']
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
nan
['Full-time']
['Full-time']
['Full-time']
nan
nan
['Full-time']
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
['Full-time']
nan
nan
nan
nan
nan
nan
['₹2,00,000', 'a', 'month']
nan
['Full-time']
['Full-time']
nan
nan
nan
['₹1,25,000', 'a', 'month']
nan
nan
['Full-time']
['Full-time']
['Full-time']
['Full-time']
['Full-time']
nan
['Full-time']
nan

In [88]:
df_jobs

,location,title,company,salary,summary,rating,clean_location,clean_title
0,"Chennai, Tamil Nadu",newClinical Data Scientist,Pfizer,NaN,\nEnsure operational excellence in collaborati...,4.2,"Chennai, Tamil Nadu",Clinical Data Scientist
1,"Bengaluru, Karnataka",newData Scientist,Happay,"₹8,00,000 - ₹12,00,000 a year","\n1-2 Years as a data scientist, machine learn...",NaN,"Bengaluru, Karnataka",Data Scientist
2,"Noida, Uttar Pradesh",newSenior Data Scientist,Jorie Healthcare Partners,"₹7,00,000 - ₹15,00,000 a year",\nHas *expertise in implementing complex stati...,NaN,"Noida, Uttar Pradesh",Senior Data Scientist
3,"Bengaluru, Karnataka",Data Scientist,Applied Materials Inc.,"₹5,26,846 - ₹17,85,107 a year","\nAcquire, cleanse, organize and mine massive ...",3.9,"Bengaluru, Karnataka",Data Scientist
4,"Hyderabad, Telangana+1 location",newData & Applied Scientist,Microsoft,NaN,"\nWe are looking for a strong IC, who can lead...",4.2,"Hyderabad, Telangana",Data & Applied Scientist
...,...,...,...,...,...,...,...,...
25242,"Bengaluru, Karnataka",Sr. Data Scientist,Blackhawk Network,Full-time,\n10+ years of overall professional experience...,3.4,"Bengaluru, Karnataka",Sr. Data Scientist
25243,"Hyderabad, Telangana",Privacy Software Engineer,Microsoft,Full-time,\nExperience with telemetry and data mining an...,4.2,"Hyderabad, Telangana",Privacy Software Engineer
25265,"Bengaluru, Karnataka",Data Scientist - I,ADCI - Karnataka,NaN,\nDevelop efficient data querying infrastructu...,3.5,"Bengaluru, Karnataka",Data Scientist I
25283,"Hyderabad, Telangana+1 location",Software Engineer in Data Engineering - II,Uber,Full-time,\nThis role also designs and develops large-sc...,3.7,"Hyderabad, Telangana",Software Engineer Data Engineering II
25655,"Gurgaon, Haryana",newManager - Data Engineer Lead,Macquarie Group Limited,NaN,\nUnderstanding of data architecture principle...,3.8,"Gurgaon, Haryana",Manager Data Engineer Lead