In [1]:
import requests
import bs4
from bs4 import BeautifulSoup

In [26]:
def get_loc(result):
    try:
        return result.find('div', {'class': 'companyLocation'}).text
    except:
        return 'NA'


def get_comp(result):
    try:
        return result.find('span', {'class': 'companyName'}).text
    except:
        return 'NA'


def get_job(result):
    try:
        return result.find('a', {'data-tn-element': 'jobTitle'}).text
    except:
        return 'NA'


def get_sal(result):
    try:
        return result.find('td', {'class': 'snip'}).find('nobr').text
    except:
        return 'NA'


def get_desc(result):
    try:
        return result.find('span', {'class': 'summary'}).text
    except:
        return 'NA'

In [27]:
from time import sleep
import pandas as pd
import numpy as np

In [22]:
cities = [
    'New+York', 'Chicago', 'San+Francisco', 'San+Jose', 'San+Diego',
    'Los+Angeles', 'Washington%2C+DC', 'Boston', 'Pittsburgh', 'Philadelphia',
    'Atlanta', 'Cincinnati', 'St.+Louis', 'Tampa', 'Oakland', 'Austin',
    'Houston', 'Dallas', 'Seattle', 'Portland', 'Denver', 'Phoenix',
    'Minneapolis', 'Miami', 'Charlotte', 'Jacksonville', 'Indianapolis',
    'Nashville', 'Kansas+City', 'Columbus'
]

#['Maharashtra', 'Tamil+Nadu', 'Andhra+Pradesh', 'Delhi', 'West+Bengal']
len(cities)

30

In [5]:
path = 'https://in.indeed.com/jobs?q=Data+Scientist&start='
results = []

In [17]:
max_results_per_city = 4200

for start in range(0, max_results_per_city, 100):
    print("Scrapping page : ", start/100, end='')
    url = "https://in.indeed.com/jobs?q=Data+Scientist&start=" + str(start) + '&limit=100'
    html = requests.get(url) 
    soup = BeautifulSoup(html.text, 'html.parser')
#     print(soup)
    for result in soup.find_all('div', {'class':'job_seen_beacon'}):
        results.append(result)
        print(" " + str(len(result)) + '\n')
    sleep(5)

Scrapping page :  0.0 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

Scrapping page :  1.0 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

Scrapping page :  2.0 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

Scrapping page :  3.0 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

 3

KeyboardInterrupt:

In [23]:
jobs0 = pd.DataFrame(columns=['location', 'title', 'company', 'salary', 'summary'])

In [36]:
for entry in results:
    location = get_loc(entry)
    title = get_job(entry)
    company = get_comp(entry)
    salary = get_sal(entry)
    desc = get_desc(entry)
    jobs0.loc[len(jobs0)] = [location, title, company, salary, desc]

In [37]:
jobs0.head(20)

   location title company salary summary
0        NA    NA      NA     NA      NA
1        NA    NA      NA     NA      NA
2        NA    NA      NA     NA      NA
3        NA    NA      NA     NA      NA
4        NA    NA      NA     NA      NA
5        NA    NA      NA     NA      NA
6        NA    NA      NA     NA      NA
7        NA    NA      NA     NA      NA
8        NA    NA      NA     NA      NA
9        NA    NA      NA     NA      NA
10       NA    NA      NA     NA      NA
11       NA    NA      NA     NA      NA
12       NA    NA      NA     NA      NA
13       NA    NA      NA     NA      NA
14       NA    NA      NA     NA      NA
15       NA    NA      NA     NA      NA
16       NA    NA      NA     NA      NA
17       NA    NA      NA     NA      NA
18       NA    NA      NA     NA      NA
19       NA    NA      NA     NA      NA

In [ ]:
results

In [ ]:
# start = 10
# url = "https://in.indeed.com/jobs?q=Data+Scientist&start=" + str(start) + '&limit=100'

# html = requests.get(url)
# results = []  
# soup = BeautifulSoup(html.text, 'html.parser')
# # print(soup)
# for result in soup.find_all('div', {'class':'job_seen_beacon'}):
#     results.append(result)
#     print(result)
# sleep(1)

In [19]:
len(results)

200

In [30]:
results[0].find('div', {'class': 'companyLocation'}).text

<div class="job_seen_beacon"><table cellpadding="0" cellspacing="0" class="jobCard_mainContent big6_visualChanges" role="presentation"><tbody><tr><td class="resultContent"><div class="heading4 color-text-primary singleLineTitle tapItem-gutter"><h2 class="jobTitle jobTitle-color-purple"><a aria-label="full details of Data Scientist" class="jcs-JobTitle" data-ci="387888371" data-empn="6004327826126810" data-hide-spinner="true" data-hiring-event="false" data-jk="d3a62db9cd99aff6" data-mobtk="1g2voj7tei83d800" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0BKwMOZH4fgpIIWSrlpgS0tSkW3tfilVH9rzQFVfnBGL4KA0iAqNFgAnkYL5RDecNdodOzz7NQ2OIvNnDQUK9dIiRJ7jJXK2ICB7t7yuTAM_9y83dWJWJE8vxMEq-a8-3MmiDFIkdcAQ3hQlMPiy1TEZvTevXbd-9AiwwvS-yaIeOFpExqyy4Hui5EryQPAmE31V4WkexDM1J7h7FpN2vuq8XVUvvmrVCE7eJTqnmiFMI56plinU140-cPTbCGW-ZHbb3c5w_3ruWpIfbzPE0tzmK-o1zkHRzXw4uggcBIE3duaUPCSxITq8yxkFOAzeU01YSJEbDdh86TVJxOkajEJEu9qgzos5bWOz6ZzdX1PrO6vORv9J90xEzGo1gSIf_BHZLNJ0yngEQNgk1GDDQ24zru3a0frgruIzt9JOKDBd0xXC6sbgytSNVIYjq9sRkSvnFHSAziW8Uh_wruuJR0wuzNekqAAfyY=&amp;p=0&amp;fvj=1&amp;vjs=3" id="sj_d3a62db9cd99aff6" role="button" target="_blank"><span title="Data Scientist">Data Scientist</span></a></h2></div><div class="heading6 company_location tapItem-gutter companyInfo"><span class="companyName"><a class="turnstileLink companyOverviewLink" data-tn-element="companyName" href="/cmp/Applied-Materials" rel="noopener" target="_blank">Applied Materials Inc.</a></span><span class="ratingsDisplay withRatingLink"><a class="ratingLink" data-tn-variant="cmplinktst2" href="/cmp/Applied-Materials/reviews" rel="noopener" target="_blank" title="Applied Materials Inc. reviews"><span aria-label="3.9 of stars rating" class="ratingNumber" role="img"><span aria-hidden="true">3.9</span><svg aria-hidden="true" class="starIcon" fill="none" height="12" role="presentation" viewbox="0 0 16 16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M8 12.8709L12.4542 15.5593C12.7807 15.7563 13.1835 15.4636 13.0968 15.0922L11.9148 10.0254L15.8505 6.61581C16.1388 6.36608 15.9847 5.89257 15.6047 5.86033L10.423 5.42072L8.39696 0.640342C8.24839 0.289808 7.7516 0.289808 7.60303 0.640341L5.57696 5.42072L0.395297 5.86033C0.015274 5.89257 -0.13882 6.36608 0.149443 6.61581L4.0852 10.0254L2.90318 15.0922C2.81653 15.4636 3.21932 15.7563 3.54584 15.5593L8 12.8709Z" fill="#767676"></path></svg></span></a></span><div class="companyLocation">Bengaluru, Karnataka</div></div><div class="heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly"><div class="metadata salary-snippet-container"><div class="attribute_snippet"><svg aria-hidden="true" aria-label="Salary" fill="none" role="presentation" viewbox="0 0 16 13" xmlns="http://www.w3.org/2000/svg"><defs></defs><path clip-rule="evenodd" d="M2.45168 6.10292c-.30177-.125-.62509-.18964-.95168-.1903V4.08678c.32693-.00053.6506-.06518.95267-.1903.30331-.12564.57891-.30979.81105-.54193.23215-.23215.4163-.50775.54194-.81106.12524-.30237.18989-.62638.19029-.95365H9.0902c0 .3283.06466.65339.1903.9567.12564.30331.30978.57891.54193.81106.23217.23215.50777.41629.81107.54193.3032.12558.6281.19024.9562.1903v1.83556c-.3242.00155-.6451.06616-.9448.19028-.3033.12563-.5789.30978-.81102.54193-.23215.23214-.4163.50774-.54193.81106-.12332.2977-.18789.61638-.19024.93849H3.99496c-.00071-.32645-.06535-.64961-.19029-.95124-.12564-.30332-.30979-.57891-.54193-.81106-.23215-.23215-.50775-.4163-.81106-.54193zM0 .589843C0 .313701.223858.0898438.5.0898438h12.0897c.2762 0 .5.2238572.5.5000002V9.40715c0 .27614-.2238.5-.5.5H.5c-.276143 0-.5-.22386-.5-.5V.589843zM6.54427 6.99849c1.10457 0 2-.89543 2-2s-.89543-2-2-2-2 .89543-2 2 .89543 2 2 2zm8.05523-2.69917v7.10958H2.75977c-.27615 0-.5.2238-.5.5v.5c0 .2761.22385.5.5.5H15.422c.4419 0 .6775-.2211.6775-.6629V4.29932c0-.27615-.2239-.5-.5-.5h-.5c-.2761 0-.5.22385-.5.5z" fill="#595959" fill-rule="evenodd"></path></svg>₹5,26,846 - ₹17,85,107 a year</div></div></div><div class="heading6 error-text tapItem-gutter"></div></td></tr></tbody></table><table class="jobCardShelfContainer big6_visualChanges" role="presentation"><tbody><tr class="jobCardShelf"><td class="shelfItem indeedApply"><span class="iaIcon"></span><span class="ialbl iaTextBlack">Apply securely with Indeed Resume</span></td></tr><tr class="underShelfFooter"><td><div class="heading6 tapItem-gutter result-footer"><div class="job-snippet"><ul style="list-style-type:circle;margin-top: 0px;margin-bottom: 0px;padding-left:20px;">
<li>Acquire, cleanse, organize and mine massive volumes of <b>data</b> (sensor/system log) using custom scripts Learn, understand and apply customer <b>data</b> in statistical…</li>
</ul></div><span class="date"><span class="visually-hidden">Employer</span>Active 1 day ago</span></div></td></tr></tbody></table><div aria-live="polite"></div></div>

In [31]:
results[1]

<div class="job_seen_beacon"><table cellpadding="0" cellspacing="0" class="jobCard_mainContent big6_visualChanges" role="presentation"><tbody><tr><td class="resultContent"><div class="heading4 color-text-primary singleLineTitle tapItem-gutter"><h2 class="jobTitle jobTitle-color-purple"><a aria-label="full details of Senior Data Scientist" class="jcs-JobTitle" data-ci="383835316" data-empn="583455957321166" data-hide-spinner="true" data-hiring-event="false" data-jk="3b3e2486a7aa4494" data-mobtk="1g2voj7tei83d800" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AdIuWnebtZMFsynnr4yvyclkA7nqAzDe2p4IWrpz64RFOHcVxadXDPUAtAfkuphA2u0TiHUJhiLrgT0vARLdGSrX7Mi2J5cQH5VPmfUyrn7JQ0NlXJJrKGAwbFDV1wvH0bbDzUq-vpOKgUGNUmfscqlnbONcV12s3SyZP-OYid5vxo2Opg_jtNC05XRB5RzijIVcBRtMBWmDtasUcQIb503IwQknHwGtQNSKHI2ZuAnowu-MATIHQXWjXDWThBdmi2AEKyYWzhKZy9MeNfSBqTpi8wg4K14Y-KZgCx9cqsVWbJ04ZJ6tb11GHCVjP3E4jxI9qVRkd3-iAcgCFe_u1ts6pcyL0hsUiVZLlJiWNS8U01VBFLcBJhdCpExMSDcoHm86XddNQlBiuWix3t4gCZAUWwZLZWBEN8eodwNkiuogXEu9ipG33wz8FI6tynzYZi-XiAl1NBrKtKMFCL9FVb58Qx08j9nK4=&amp;p=1&amp;fvj=1&amp;vjs=3" id="sj_3b3e2486a7aa4494" role="button" target="_blank"><span title="Senior Data Scientist">Senior Data Scientist</span></a></h2></div><div class="heading6 company_location tapItem-gutter companyInfo"><span class="companyName">CORESTRAT LABS PRIVATE LIMITED</span><div class="companyLocation">Bengaluru, Karnataka</div></div><div class="heading6 tapItem-gutter metadataContainer noJEMChips salaryOnly"><div class="metadata salary-snippet-container"><div class="attribute_snippet"><svg aria-hidden="true" aria-label="Salary" fill="none" role="presentation" viewbox="0 0 16 13" xmlns="http://www.w3.org/2000/svg"><defs></defs><path clip-rule="evenodd" d="M2.45168 6.10292c-.30177-.125-.62509-.18964-.95168-.1903V4.08678c.32693-.00053.6506-.06518.95267-.1903.30331-.12564.57891-.30979.81105-.54193.23215-.23215.4163-.50775.54194-.81106.12524-.30237.18989-.62638.19029-.95365H9.0902c0 .3283.06466.65339.1903.9567.12564.30331.30978.57891.54193.81106.23217.23215.50777.41629.81107.54193.3032.12558.6281.19024.9562.1903v1.83556c-.3242.00155-.6451.06616-.9448.19028-.3033.12563-.5789.30978-.81102.54193-.23215.23214-.4163.50774-.54193.81106-.12332.2977-.18789.61638-.19024.93849H3.99496c-.00071-.32645-.06535-.64961-.19029-.95124-.12564-.30332-.30979-.57891-.54193-.81106-.23215-.23215-.50775-.4163-.81106-.54193zM0 .589843C0 .313701.223858.0898438.5.0898438h12.0897c.2762 0 .5.2238572.5.5000002V9.40715c0 .27614-.2238.5-.5.5H.5c-.276143 0-.5-.22386-.5-.5V.589843zM6.54427 6.99849c1.10457 0 2-.89543 2-2s-.89543-2-2-2-2 .89543-2 2 .89543 2 2 2zm8.05523-2.69917v7.10958H2.75977c-.27615 0-.5.2238-.5.5v.5c0 .2761.22385.5.5.5H15.422c.4419 0 .6775-.2211.6775-.6629V4.29932c0-.27615-.2239-.5-.5-.5h-.5c-.2761 0-.5.22385-.5.5z" fill="#595959" fill-rule="evenodd"></path></svg>₹30,00,000 a year</div></div></div><div class="heading6 error-text tapItem-gutter"></div></td></tr></tbody></table><table class="jobCardShelfContainer big6_visualChanges" role="presentation"><tbody><tr class="jobCardShelf"><td class="shelfItem indeedApply"><span class="iaIcon"></span><span class="ialbl iaTextBlack">Apply securely with Indeed Resume</span></td><td class="shelfItem responsiveEmployer"><div><span class="responsiveEmployerIcon"></span>Responsive employer</div></td></tr><tr class="underShelfFooter"><td><div class="heading6 tapItem-gutter result-footer"><div class="job-snippet"><ul style="list-style-type:circle;margin-top: 0px;margin-bottom: 0px;padding-left:20px;">
<li style="margin-bottom:0px;">Collaborate to enhance <b>data</b> infrastructure and build a seamless research platform.</li>
<li>Deliver real impact to the product through rigorous data-driven solutions.</li>
</ul></div><span class="date"><span class="visually-hidden">Employer</span>Active 8 days ago</span></div></td></tr></tbody></table><div aria-live="polite"></div></div>

In [35]:
results[0].find('span', {'class': 'date'}).text

'EmployerActive 1 day ago'

In [38]:
location = get_loc(results[0])
title = get_job(results[0])
company = get_comp(results[0])
salary = get_sal(results[0])
desc = get_desc(results[0])

In [40]:
print(title)

NA

In [61]:
def get_comp_loc(entry):
    try:
        return entry.find('div', {'class': 'companyLocation'}).text
    except Exception as e:
        return 'NA'
get_comp_loc(results[0])

'Bengaluru, Karnataka'

In [54]:
try:
    print(results[0].find('span', {'class': 'companyName'}).text)
except Exception as e:
    print(e)

Applied Materials Inc.

In [56]:
try:
    print(results[0].find('h2', {'class': 'jobTitle'}).text)
except Exception as e:
    print(e)

Data Scientist

In [59]:
try:
    print(results[0].find('div', {'class': 'salaryOnly'}).text)
except Exception as e:
    print(e)

₹5,26,846 - ₹17,85,107 a year

In [60]:
try:
    print(results[0].find('div', {'class': 'job-snippet'}).text)
except Exception as e:
    print(e)

Acquire, cleanse, organize and mine massive volumes of data (sensor/system log) using custom scripts Learn, understand and apply customer data in statistical…